.box_bottom
  %h1
    Documentación
.list_doc
  .doc_row.box_bottom
    %h1
      %a{:href => "http://vimeo.com/67908748"} ¿ Que es Comunidadbox ?
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/67908748", :webkitallowfullscreen => "", :width => "500"}
  .doc_row.box_bottom
    %h1
      %a{:href => "http://vimeo.com/65332488"} Registración de Usuario
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/65332488", :webkitallowfullscreen => "", :width => "500"}
  .doc_row.box_bottom
    %h1
      %a{:href => "http://vimeo.com/67916688"} Registrar Servicio Dueño de Automóvil
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/67916688", :webkitallowfullscreen => "", :width => "500"}
