-# javascript 'messages'

.vertical_menu
  = render "home/menu"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Nuevo Cliente", new_client_path      
.contentright_s  
  .box_bottom
    %h1 Mensajes  
  .box_bottom
    = render :partial =>'message',:collection => @messages
    - if @messages && @messages.size > 0
      .clear
        = will_paginate @messages
