-# javascript 'service_offer'
.vertical_menu
  = render "conf/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1 Forma de Pago
  .box_bottom
    %p
      %b
        Nombre:
      = link_to @payment_method.natvie_name,edit_payment_method_path(@payment_method)
      

