.notes_container.box_top
  = render :partial => "notes/note_form",:locals=>{:wo => wo,:b=>b,:c => c}
  .notes
    - notes.each do |note|
      = render :partial =>'notes/notes_small_view',:locals=>{:wo => wo,:b=>b,:note =>note}
  