.new_note_form
  - form_for :note,:remote=>true,:url => notes_path,:html=>{:class=>:note_form} do |f|    
    = f.text_area :message,:cols=>64,:rows=>2,:class =>"left labelify",:title =>"Por favor ingrese el texto de la nota"
    - if wo
      = f.hidden_field :workorder_id,:value => wo      
    = f.hidden_field :user_id,:value => @usr
    .right.clear
      = f.submit "Grabar",:class=>:button