.notes_container
  = render :partial => "notes/note_form",:locals=>{:wo => wo,:b=>b}
  .notes
    - notes.each do |note|
      = render :partial =>'notes/notes_small_view',:locals=>{:wo => wo,:b=>b,:note =>note}
  