.vertical_menu
  = render "home/menu"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Nueva Nota",new_note_path

.contentright_s
  .box_bottom
    %h1 Modificar Nota
  = render 'form'
