.
    %p
    %label{:for => "state"}
    = f.select(:state, ['Aprobado', 'Rechazado'], {},{:class=>'long_select',:style=>"Width:265px"})
    %p
    %label{:for => "message"}
    = t ".Mensaje"
    = f.text_field :message
