%p
	%label{:for => "status"}
		Estado
	%br
	= f.select(:status,Status::MR_STATUS.collect{|k,v| [v,k]},{:selected =>f.object.status},{:class=>'long_select',:title=>"Estado"})
%p
	%label{:for => "message"}		
		Comentario
	%br
	= f.text_area :message,:cols => 40,:rows=>10
