%p
%label{:for => "state"}
= f.select(:state, [['Aprobar',12],['Rechazar',11]], {},{:class=>'long_select',:style=>"Width:265px"})
%p
%label{:for => "message"}
= t ".Enviar Mensaje"
= f.text_field :message
