.box_bottom
  #material_request
    %h3 Buscar
    = form_for :material_request, :url => material_requests_path,:method => :get do
      %table.w
        %thead
          %tr
            %td
              = text_field_tag 'status',"",:class=>"input",:title=>"Estado"
          %tr
            %td
              = text_field_tag 'detail',"",:class=>"input",:title=>"Año-Mes-Día",:placeholder =>"Descripción"
          %tr
            %td
              = image_submit_tag("find.png",:class =>"input_img")

