-# javascript 'sort.table'
-# stylesheets 'demo_page'
-# stylesheets 'demo_table'
-# javascript 'jquery.dataTables'
.vertical_menu
  = render "conf/menu"
.contentright_s
  .alarms
    .box_bottom      
      %h1 Notificación de Alarmas    
    - @alarms.each do |alarm|
      = render alarm              

