.vertical_menu
  - if current_user.is_super_admin?
    = render "conf/menu"
  - else
    = render "admin/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1 Modificar Modelo
  = render :partial=>'model'
