%table.service_table
  %thead
    %tr.table_header
      %th Tipo
      %th Calle
      %th Ciudad
      %th Código Postal
      %th Provincia
      %th       
  %tbody    
    %tr{:class=>:fields}
      %td
        =h address.name
      %td
        =h address.street
      %td
        =h address.city
      %td
        =h address.zip
      %td
        =h address.state.name
      %td
        - if (@user.address.id == address.id)
          *        