.box_bottom
  #employees
    %h3 Buscar
    - form_for :employee, :remote =>true, :url => search_employees_path do
      %table.w
        %thead
          %tr
            %td
              = text_field_tag 'email',"",:class=>"labelify input",:title=>"Email"
          %tr
            %td
              = text_field_tag 'first_name',"",:class=>"labelify input",:title=>"Nombre"
          %tr
            %td
              = text_field_tag 'last_name',"",:class=>"labelify input",:title=>"Apellido"
          %tr
            %td
              = image_submit_tag("find.png",:class =>"input_img")
