#user_company_address
  %h1
    = vineta 
    Modificar Empleado
  - form_for  @employee, :url => employee_path(@employee)  do |f|  
    = render 'form',:f => f
    = f.submit "Actualizar",:class =>"btn"

