#user_company_address
  %h1
    = vineta 
    Modificar Empleado
  - form_for  @employee, :url => employee_path(@employee)  do |f|  
    .box
      = render 'form',:f => f
      .buttons
        = link_to_back employees_path
        = f.submit "Actualizar",:class =>"button"