-# javascript 'accounts'
.vertical_menu
  = render "admin/menu"
.contentright_s
  .box_bottom
    %h1
      Nuevo Empleado
  
  = form_for @employee, :url => employees_path do |f|    
    .box_bottom
      = render :partial => 'form',:locals  =>{:f => f}
    .box_bottom
      = f.submit "Grabar",:class =>"button"
    
