- javascript 'accounts'
%h1
  Nuevo Empleado para  
  = current_user.company.name
- form_for @employee, :url => employees_path do |f|
  .box
    = render :partial => 'form',:locals  =>{:f => f}
    = f.submit "Grabar",:class =>"btn"
