#account.box
  #user
    %h1
      = vineta 
      Empleado
    = render 'user_show'
  - if @user.address            
    #address
      = render 'address_show', :address => @user.address
      
  = link_to image_tag('edit.png'),edit_employee_path(@user)      
