- javascript 'accounts'
- stylesheets 'jquery.ui.base.css'
- stylesheets 'jquery.ui.theme.css'
#account.box
  #user
    %h1 Empleado
    = render 'user_show'
  - if @user.company
    #company
      = render '/companies/show'
  - if @user.address            
    #address
      = render 'address_show'
      
  = link_to image_tag('edit.png'),edit_employee_path(@user)      
