%h2 Link Car
%p
  Estimado #{@user.full_name}
%p Muchas gracias por elegirnos.
%p
  Este email es para validar su cuenta de correo y activar su usuario,
  %br/
  por favor seleccione
  \#{link_to "aqui", url_for(:action => 'activate', :controller => 'users', :id=>@user)}
  para activar su cuenta
  %br/
%p
  Muchas gracias !!!
%h3 Equipo de Comunidad Box