%table.w
  %tr
    %td= Status.human_attribute_name(:name)
  %tr
    %td
      = f.text_field :name      
  
.buttons_container
  = f.submit t("save"),:class => :button
  = link_to t("cancel"),statuses_path
