%table
  %tr
    %td{:colspan=>3} Nombre
  %tr
    %td
      = f.text_field :name      
  %tr
    %td{:colspan=>3} Descripcion
  %tr
    %td{:colspan=>3}
      = f.text_area :description, :cols => 40, :rows => 3

.buttons_container
  = f.submit "Grabar",:class => :button
  = link_to "Cancelar",tasks_path

