-# javascript 'service_offer'
.vertical_menu
  = render "conf/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1 Tarea
  .box_bottom
    %p
      %b
        Nombre:
      = link_to @task.name,edit_task_path(@task)
    %p
      %b
        Descripcion:
      = h @task.description
      

