%li
  = link_to h(service_types.name), service_type_path(service_types) 
  = link_to image_tag("edit.png"), edit_service_type_path(service_types)
  - unless is_assigned service_types
    = link_to image_tag("delete.png"), service_types,:confirm => '¿ Esta seguro que desea borrarlo ?', :method => :delete
  - service_type_children = search_children_service_type service_types
  - if service_type_children.empty?
    %span
  - else
    %ul
      = render :partial => 'service_types', :collection => service_type_children
