%h1 Autos Seleccionados
%table.comboxtable
  %thead
    %tr
      %th
        Información del Autómovil
  %tr
    %td 
    - @cars.each do |car_s|
      %tr
        %td{:colspan=>4}
          =h car_s.car.info
          = "[#{car_s.status}]"
          -if current_user.cars.include?(car_s.car)
            - if car_s.status == "Enviado"
              = link_to "C",confirm_car_service_offer_path(car_s),:title =>"Confirmar"
              = link_to "R",reject_car_service_offer_path(car_s),:title =>"Rechazar"
