.box_bottom
  %h3 Automóviles seleccionados
- @cars.each do |car_s|
  .domain
    .domain_n
      = car_s.car.domain
      -# if car_s.status      
        -#= icon_status car_s.status
    -if current_user.cars.include?(car_s.car)
      .actions
      - if car_s.status == "Enviado"
        = link_to "C",confirm_car_service_offer_path(car_s),:title =>"Confirmar"
        = link_to "R",reject_car_service_offer_path(car_s),:title =>"Rechazar"
