.box_bottom
  %table.comboxform
    %tr
      %td
        Titulo
      %td
        = h service_offer.title
    %tr
      %td Precio
      %td
        =h number_to_currency(service_offer.price)
      %td Descuento %
      %td
        = h service_offer.percent
    %tr
      %td Precio Final
      %td
        =h number_to_currency(service_offer.final_price)
      %td Estado
      %td
        =icon_status service_offer.status
    %tr
      %td Desde
      %td
        = (l service_offer.since) if service_offer.since
      %td Hasta
      %td
        = (l service_offer.until) if service_offer.until    
.box_bottom  
  %table  
    %tr
      %td Comentario
      %td
        =h service_offer.comment
    %tr  
      %td Dias
      %td.label_title{:colspan=>3}
        =h service_offer.monday ? "Lunes" : " "
        =h service_offer.tuesday ? "Martes" : " "
        =h service_offer.wednesday ? "Miercoles" : " "
        =h service_offer.thursday ? "Jueves" : " "
        =h service_offer.friday ? "Viernes" : " "
        =h service_offer.saturday ? "Sabado" : " "
        =h service_offer.sunday ? "Domingo" : " "
        
      
