- stylesheets 'jquery.ui.base.css'
- stylesheets 'jquery.ui.theme.css'
- javascript 'jquery.ui.datepicker-es'
- javascript 'service_offer'
%h1 Modificar Oferta de Servicio
.contentleft
  = render 'list_cars'
.contentright
  - form_for @offer do |f|
    = render :partial => 'form', :locals => {:f => f}

