- javascript 'service_offer'
.vertical_menu
  = render "home/menu"
  .service_offer_search  
    = render "search"
.contentright_s
  .box_bottom
    %h1 Ofertas de Servicio
  #service_offers.box_bottom
    = render "service_offers"