-# javascript 'jquery.ui.datepicker-es'
-# javascript 'service_offer'

.vertical_menu
  = render "home/menu"
  = render "layouts/default_actions"

.contentright_s
  .box_bottom
    %h1
      = t(".title")
  #service_offer
    = render :partial => 'form'