- stylesheets 'jquery.ui.base.css'
- stylesheets 'jquery.ui.theme.css'
- javascript 'service_offer'
%h1 Nueva Oferta de Servicio
.contentleft
  = render 'list_cars'
.contentright
  #service_offer
    - form_for(@offer) do |f|
      = render :partial => 'form', :locals => {:f => f}
