- javascript 'jquery.ui.datepicker-es'
- javascript 'service_offer'

.vertical_menu
  = render "home/menu"
.contentright_s
  .box_bottom
    %h1 
      Nueva Oferta de Servicio:  
      =@offer.service_type.name
  #service_offer
    = form_for @offer do |f|    
      = render :partial => 'form', :locals => {:f => f}  
    #service_offer_menu.box_bottom.left.w
      = render "list_cars"