%table.w
  %tr
    %td{:style=>"width:100px"} Marca
    %td
      = @car.brand.name if @car.brand 
  %tr
    %td Modelo
    %td        
      = @car.model.name if @car.model
  %tr
    %td Dominio
    %td
      .domain_white
        = link_to @car.domain, @car