.car.right
  .box_bottom
    %h1 Autómovil
    = f.hidden_field :car_id
  %table
    %tr
      %td Dominio
      %td
        = car.domain
    %tr
      %td{:style=>"width:100px"} Marca
      %td 
        = car.brand.name       
    %tr
      %td Modelo
      %td 
        = car.model.name       
   
