%table.w
  %tr
    %td{:style=>"width:100px"}=t(".brand")
    %td
      = @car.brand.name if @car.brand 
  %tr
    %td=t(".model")
    %td        
      = @car.model.name if @car.model
  %tr
    %td=t(".domain")
    %td
      - unless @car.domain.empty?
        .domain_white
          = link_to @car.domain, @car