%table.w  
  %tr
    %td
      =t(".domain")
    %td
      .domain_white
        - if @budget.car
          = link_to(@budget.car.domain, car_path(@budget.car)) 
        -else
          = @budget.domain
  %tr
    %td{:style=>"width:100px"}=t(".brand")
    %td
      = @car.brand.name if @car.brand 
  %tr
    %td=t(".model")
    %td        
      = @car.model.name if @car.model
