%table.w
  %tr
    %td{:style=>"width:100px"}=t(".name")
    %td
      = @client.first_name
  %tr
    %td=t(".last_name")
    %td
      = @client.last_name
  %tr
    %td=t(".phone")
    %td
      = number_to_phone @client.phone
  %tr
    %td=t(".email")
    %td
      = @client.email