%table.w
  %tr
    %td{:style=>"width:100px"}=t(".name")
    %td
      = link_to @client.full_name,client_path(@client)
  %tr
    %td=t(".phone")
    %td
      = number_to_phone @client.phone
  %tr
    %td=t(".email")
    %td
      = @client.email