.customer
  %table#new_client_budget.w
    %tr
      %td{:style=>"width:100px"} Nombre *
      %td
        = f.text_field :first_name
    %tr
      %td Apellido *
      %td   
        = f.text_field :last_name
    %tr
      %td Teléfono
      %td
        = f.text_field :phone
    %tr
      %td Correo Eléctronico
      %td#email
        .user_email
          = f.text_field :email,class: :left
          .ajax_loader.left
        .validation_email.hide
