.car.right
  .box_bottom
    %h1 Autómovil
  %table
    - if f.object.user
      %tr
        %td Automóvil
        %td
          = f.collection_select(:car_id,f.object.user.cars,:id,:domain,{:prompt=>"Seleccione un auto"},{:class=>"long_select"})
    %tr
      %td Dominio
      %td        
        = f.text_field :domain,:size=>8, :maxlength =>6,:class=>"labelify input_short",:title=>"XXX999"
    %tr
      %td{:style=>"width:100px"} Marca
      %td        
        = f.collection_select(:brand_id, Brand.find(:all,:order=>:name), :id, :name, {:include_blank=>:true},{:class=>"brand long_select"})
    %tr
      %td Modelo
      %td        
        #models
          = f.collection_select(:model_id, find_models(f.object), 'id', 'name', {:include_blank=>:true},{:class=>'model long_select'})
 