.customer
  %table#new_client_budget.w
    %tr
      %td{:style=>"width:100px"}=t(".name")
      %td
        = f.text_field :first_name
    %tr
      %td=t(".last_name")
      %td
        = f.text_field :last_name
    %tr
      %td=t(".phone")
      %td
        = f.text_field :phone
    %tr
      %td=t(".email")
      %td#email
        .user_email
          = f.text_field :email,class: :left
          .ajax_loader.left
        .validation_email.hide
