.customer.left
  .box_bottom
    %h1 Cliente
  %table
    %tr
      %td{:style=>"width:100px"} Nombre *
      %td
        = f.text_field :first_name
    %tr
      %td Apellido *
      %td   
        = f.text_field :last_name
    %tr
      %td Teléfono
      %td
        = f.text_field :phone
    %tr
      %td Correo Eléctronico
      %td
        = f.text_field :email
