%table.w
  %tr
    %td
      =t(".domain")
    %td
      .domain_white
        - if @budget.vehicle
          =# link_to(@budget.vehicle.domain, car_path(@budget.vehicle))
          =# link_to(@budget.vehicle.domain, sti_vehicle_path(@budget.vehicle.type, @budget.vehicle))
          = link_to(@budget.vehicle.domain, vehicle_path(@budget.vehicle))
        - else
          = @budget.domain
  %tr
    %td{:style=>"width:100px"}=t(".brand")
    %td
      = @vehicle.brand.name if @vehicle.brand
  %tr
    %td=t(".model")
    %td
      = @vehicle.model.name if @vehicle.model
