- javascript 'budgets_form'
- javascript 'jquery.formatCurrency-1.4.0'
- javascript 'jquery.formatCurrency.es-AR'
.vertical_menu
  = render "home/menu"
  .clear
    = render "actions"
.contentright_s
  .box_bottom
    %h1 Nuevo Presupuesto
  = render 'form'

