@charset "utf-8";
/* CSS Document */

body {
  background-color: #F2F2F2;
  padding:0px;
  margin:0px;
  color:#707070;
  font-size:14px;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}
        
a{
  color:#B2AC0C;
}

a.link_w{
  color: white;
  font-weight: bold;
}

.checkbox, .radio{
  width: 15px;
  height: 12px;
}

h1 {
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  color: #CCCC00;
  font-size:24px;
  font-weight:bold;
}

h1.contentright{
  margin-top: -31px;
}

h2 {
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  font-style:normal;
  color:#B3B3B3;
  font-weight:400;
}
h2 a {
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  color:#CCCC00;
  text-decoration:none;
  font-weight:500;
}
h2 a:hover {
  color:#CCCC33;
}

#header {
  background-color:#a8aa3a;       
  background-image:url(/images/headerpng.png);
  background-repeat:no-repeat;
  background-position:center;
  height:100px;
  padding:0px;
}
#logo {
  padding:0px;
  margin:0 auto 0 auto;
  width:900px;
  height:140px;
}
#logologo {
  padding-top:5px;
}
#wrapmenu {
  background-color:#C1BB00;
  height:45px; 
}
#menu {
  margin:0 auto 0 auto;
  width:900px;
  height:45px;
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:18px;
  color:#FFF;
}
#content {
  -moz-box-shadow: 0 1px 7px #CCCCCC;
  overflow:auto;
  background-color:white;
  margin:0 auto 0 auto;
  margin-top:15px;
  padding:10px;
  width:900px;  
  min-height:700px;
}
#cont1 {
  margin-bottom:24px;
  width: 80%;
  margin: 0 auto;  
}

#cont2 {
  height:110px;
  background-color:#808080;
}
.part {
  height:92px;
  float:left;
}
#part1 {
  width:157px;
  line-height:5.5em;
  color:#B3B3B3;
  text-align:center;
  font-size:16px;
  border-right-color:#CCC;
  border-right-style:dotted;
  border-right-width:thin;
}

#part22 {
  width:155px;
  border-left-color:#CCC;
  border-left-style:dotted;
  border-left-width:thin;
  font-size:9px;
  font-family:Arial, Helvetica, sans-serif;

}
#part22 table{
  margin:0px;
  margin-top:7px;
  text-align: center;
}

#part22 .sgn{
  margin-left:5px;
  text-align: center;
  margin-top:10px;
}

#part22 h4{
  margin:0px;
  color:#B3B3B3;
  line-height:12px;
}

  
#part3 {
  width:165px;
  height:0px;

}
#cont3 {
  margin: 0 auto;
  margin-top:20px;
}

.cuadro{
  height:470px;
  width: 30%;
  padding: 10px;
  margin: 2px;
  float: left;
}

.cuadro h1 {
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:18px;
  color:#4D4D4D;
}
.cuadro h2 {
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:12px;
  color:#CCCC33;
  margin-left:10px;
  margin-top:0px;
  margin-right:10px;
  margin-bottom:0px;
}
.cuadro p {
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:12px;
  color:#4D4D4D;
  margin:25px;
  margin-top:0px;
  margin-bottom:10px;
  line-height:1.4em;
}
.cuadro ul {
  list-style:none;
  margin:0px;
  padding:0;
}
.cuadro li {
  margin: 5px;
  list-style: inside;
}

.list ul, list li{
  list-style:none;
  margin-left: 10px;
  margin-top: 5px;
}

.list{
  
}

.cuadro li a {
  color:#BDCD00;
  text-decoration:none;
  font-weight:bold;
}
.gray {
  background-color:#E6E6E6;
}

.orange {
  background-color: #F2EAB7;
}

#wrapfooter {
  background-image:url(/images/background_footer.jpg);
  height:62px;
  margin-top: 15px;
  width: 100%;
}
#footer {
  margin:0 auto 0 auto;
  width:900px;
  padding:0px;
  height:62px;
}

#footer img{
  margin-top:17px;
  padding:0px;
  float:left;
}

.nav{
  list-style:none;
  font-size:8px;
  font-family:arial;
  font-weight:bold;
  color:#999999;
}

.nav a{
  text-decoration:none;
  color:#999;
}

.nav a:hover {
  color:#CCC;
}
#navcopy {
  
  margin-left:90px;
  float:left;
}
#navmapa{
  float:right;
  margin-left:15px;

}

#footer li {
  float:left;
  margin-top:15px;
  margin-right:5px;  

}
/*-----------------------------------------##------------------------------------------##-------------------------------*/
/*#cont1 h1 {
  font-family:Open Sans;
  font-size:12px;
  font-weight:bold;
  color:#F00;
}*/

/*-----------------------------------------##FORMULARIO##-------------------------------*/

form h3 {
  margin-left:2px;
  margin-top:15px;
  margin-bottom:5px;
  margin-left:15px;
  color:#FFF;
  font-size:14px;
}
form .textarea {
  float:left;
  width:195px;
  height:29px;
  margin:0px;
  margin-left:15px;
}

.textarea{
  border-style: inset;
  border-width: 1px;
}

.btn_b {
  display: inline-block;
  width:100px;
  border:none;
  background-color:transparent;
  background-image:url(/images/btns.png);
  background-position: 303px 0px;
  width:133px;
  height:35px;
  color:#FFF;
  font-weight:bold;
  float:left;
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
}

.btn2 {  
  background-color:#CAC30F;
  color:white;
  font-size:14px;
  float:left;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding-bottom: 3px;
}

.btn2:hover{
  background-color: #DBDB39;
  color:white;
}

a.btn2{
text-decoration: none;
}


.btn_b:hover {
  background-position:303px 35px;
}

.btn {
  display: inline-block;
  width:100px;
  border:none;
  background-color:transparent;
  background-image:url(/images/btns.png);
  background-position: 158px 0px;
  width:103px;
  height:35px;
  color:#FFF;
  font-weight:bold;
  float:left;
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
}

.btn:hover {
  background-position:158px 35px;
}

.btn_back {
  display: inline-block;
  width:100px;
  border:none;
  background-color:transparent;
  background-image:url(/images/btns.png);
  background-position: 46px 0px;
  width:47px;
  height:35px;
  color:#FFF;
  font-weight:600;
}

.btn_back:hover {
  background-position:46px 35px;
}

ul{
  list-style:none;
  padding: 1px;
}

#submenu li a{
  float:none;
  width:180px;
  text-align:left;
  margin:0px;
  background-color:#CCCC33;
  height:30px;
  line-height:26px;
}

#submenu li a:hover{
  background-color:#C1BB00;
}




/*-----------------------------------------##FIN MENU##-------------------------------*/


/*-----------------------------------------##MENSAJE DE ERROR##-------------------------------*/
#msj_error{
  margin:0px;
  height:92px;
  width:843px;
  margin-bottom:0px;
  background-color:#E6E6E6;
}

#msj_error h1{
  font-size:20px;
  font-weight:bold;
  color:#B3B3B3;
  margin-left:57px;
  margin-top:35px;
  white-space:nowrap;

}


.cruzroja {
  margin:10px;
  vertical-align:middle;
  float:left;
  background-image:url(/images/cruz_roja.png);
  width: 23px;
  height: 23px;
}

.msj_error{
  float:right;
  margin-top:-60px;
  margin-left:486px;
  list-style:none;
  font-size:12px;
  color:#999;
}


/*-----------------------------------------##FIN LAYOUT##-------------------------------*/
/*-----------------------------------------##IMAGENES##-------------------------------*/
#nuserimg1{

  
}
#nuserimg2{

  
}
#nuserimg3{
  
}
#borderright{
float:right;
margin:0px;
}

/*-----------------------------------------##FINIMAGENES##-------------------------------*/
/*-----------------------------------------##TEXTO##-------------------------------*/
.nusercontent h1 {
  margin:0px;
  white-space:nowrap;
  display:inline;
  text-align:left;
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:20px;
  font-weight:bold;
  color:#B3B3B3;
  float:left;
}

.nusercontent h5 {
  margin:0px;
  margin-top:5px;
  margin-bottom:2px;
  text-align:left;
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:13px;
  font-weight:normal;
  color:#B3B3B3;
  float:left;
}
#formuser {
  width:843px;
}

select{
  height:30px;
  width:175px;
  padding: 5px;
}

input{
  height:25px;
}

.input_short{
  width:100px;
}


.input_medium{
  width: 250px;
}

.input_long{
  width:420px;
}


#formnuser #modelo {
  width:87px;
}

#formnuser #anio {
  width:78px;
}

#formnuser #nuser_send {
  display: inline-block;
  border:none;
  float:right;
  background-color:transparent;
  background-image:url(/images/btn_nuser.png);
  background-position:top;
  margin-top:30px;
  margin-right:10px;
  width:137px;
  height:40px;
  color:#FFF;
  font-weight:600;
}

#formnuser #nuser_send:hover {
  background-position:bottom;
}


    
#nusertable1 {
  margin-top:0px;
}

#nusertable2{
  margin-top:18px;
}

#nusertable3{
  margin-top:0px;
  margin-left:20px;
}


#provincia:hover {
  border-style:solid;
  border-color:#F00;
  border-width:thin;
}
  
#ciudad:hover {
  border-style:solid;
  border-color:#F00;
  border-width:thin;
}

#calle:hover {
  border-style:solid;
  border-color:#F00;
  border-width:thin;
}
  

#msj_error h6{
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  color:#B3B3B3;
  font-weight:normal;
  line-height:14px;
  width:300px;  
  float:right;
  margin:0px;
  margin-left:450px;
  margin-right:0px;
  margin-top:-50px;
  
}

.box {
  overflow: auto;
  z-index: 2; 
  float: left;
  width: 98%;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  margin-left: 5px;
  padding: 5px 5px 5px 5px;
}

.contentright {
  width:69%;
  float: right;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
}

.all_companies {
  width:63%;
  float: right;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
}

#work_order_form{
  width:100%;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #F2EAB7;
  border: 1px solid #AFAFAF;
}

.contentright_n {
  z-index: 2; 
  float: left;
  width: 620px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  margin-left: 5px;
  padding: 5px 5px 5px 5px;
}

.contentright_u {
  overflow: auto;
  z-index: 2; 
  float: left;
  width: 580px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  margin-left: 5px;
  padding: 5px 5px 5px 5px;
}

.contentleft_u{
  width:270px;
  float:left;
  overflow:auto;
  background-repeat:repeat-y;
  background-position:right;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
}

.contentleft_n{
  width:250px;
  float:left;
  overflow:auto;
  background-repeat:repeat-y;
  background-position:right;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
}

.contentleft_n h2 {
  font-size:16px;
  font-weight:bold;
  color:#B3B3B3;
  margin:0px;
  margin-bottom:10px;
  margin-left:5px;
}

.contentleft_s{
  width:260px;
  float:left;
  margin-right: 5px;
}

.content{
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
  margin-right:5px;
  margin-bottom:5px;
}

.contentleft{
  width:250px;
  float:left;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
  margin-right:5px;
  margin-bottom:5px;
  overflow: hidden;
}

.company_selector{
  width:200px;
  float:left;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
  margin-right:5px;
  margin-bottom:5px;
  overflow: hidden;
}


td.number input{
  text-align:right;
  width:70px;
}

.servicioright{
  width:650px;
  height:500px;
  float:left; 
}

.box h1,.contentleft_s h1, .contentleft h1,.contentright h1,.contentleft_u h1,.contentright_u h1,.content h1, 
#work_order_form h1, .company_selector h1, .all_companies h1{
  font-size:20px;
  color:#75787A;
  margin:0px;
  margin-bottom:10px;
  margin-left:5px;
}
  
.contentleft h2 {
  font-size:12px;
  color:#B3B3B3;
  font-weight:bold;
  margin:0px;
  margin-bottom:10px;
  margin-top:10px;
  margin-left:5px;

}

.contentleft h3 {
  font-size:12px;
  color:#B3B3B3;
  font-weight:normal;
  margin:0px;
  margin-bottom:10px;
  margin-top:10px;
}

.comboxtable h1{
  font-size:12px;
  color:#B3B3B3;
  font-weight:bold;
  margin:0px;
  margin-bottom:10px;
  margin-top:10px;
  margin-left:10px;
  text-align:left;
  white-space:nowrap;
}

.comboxtable h2{
  font-size:12px;
  color:#4D4D4D;
  font-weight:normal;
  margin:0px;
  margin-bottom:10px;
  margin-left:10px;
  margin-top:10px;
  width:136px;
  text-align:left;
}
  
.comboxtable h3{
  font-size:12px;
  color:#B3B3B3;
  font-weight:normal;
  margin:0px;
  margin-bottom:10px;
  margin-left:10px;
  margin-top:10px;
  text-align:left;

}

.comboxtable .imgticks{
  text-align:center;
  width:65px;

}

.comboxtable .imgarrow_ordenar{
  margin:0px;
  margin-left:3px;
  margin-bottom:1px;


}

.comboxtable .starrating{
  text-align:center;
  width:110px;

}

table.comboxtable, .comboxform,table.w{
  width: 100%;
}

.comboxtable th , .comboxform tr.header{
  border-bottom: thin double black;
  background-color: #F2EAB7;
  
  text-align: center;
  padding: 3px;
  
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
}

.header{
  border-right: thin double black;
  padding: 2px 5px 2px 5px;
}

.comboxtable td{
  border-bottom-width:thin;
  border-bottom-color:#CCC;
  border-bottom-style:double;
}

.row{
  border-bottom-width:thin;
  border-bottom-color:#CCC;
  border-bottom-style:double;
  float: left;
  width: 100%;
}

.row:hover{
  background-color:#F2EAB7;
}

.coltable{
  width: 100%;
}

.coltable td{
  border-bottom-width:thin;
  border-bottom-color:#CCC;
  border-bottom-style:double;
  padding-left: 2px;
}

.comboxtable tbody tr:hover{
  background-color:#F2EAB7;
}


#avatar_login {
  width:300px;
  height:70px;
  float:right;
  margin-top:10px;
}

#avatar_login img {
  text-align:right;
  margin:0px;
  display:block;
}

#avatar_login h1{
  color:#FFF;
  font-size:16px;
  margin:0px;
  text-align:right;
  margin-right:75px;
  font-weight:bold;
}

#avatar_login h2 {
  color:#FFF;
  font-size:12px;
  font-style:italic;
  text-align:right;
  margin:0px;
  margin-right:75px;
  
}
#avatar_login h3 {
  color:#FFF;
  font-size:12px;
  text-align:right;
  margin:0px;
  margin-right:75px;
  
}

.barradatos{
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #AFAFAF;
  background-color:#E6E6E6;
  margin:0 auto;
  padding:5px;
  margin-bottom:10px;
  overflow: auto; 
}

.barradatos h1 {
  font-size:16px;
  float:left;
  margin: 5px 10px 5px 5px;
}

.datos_personales{
  width:100%;
  float:left;
}

input.date{
  width:80px;
}

input.amount, input.price{
  width: 50px;
  text-align: right;
}

.amount{
  float: left;
  clear: both;
}

input.material{
  width: 98%;
}

select.status{
  width: 100px;
}

.tabla_datos_personales {
  float:left;
  margin:0px;
  width: 100%;
}

.tabla_datos_personales h2 {
  font-size:13px;
  color:#B3B3B3;
  font-weight:bold;
}

.inplace_field{
  background-color: white;
  width: 50px;
  height: 14px;
}

td p{
  margin: 0px;
  width: 50px;  
}

.tabla_datos_personales h3 {
  font-size:13px;
  color:#B3B3B3;
  font-weight:normal;
  margin: 0px;
}

.datos_automovil{
  float:right;
  width: 600px;
}

.ordencontent {
  margin-top:10px;
  clear: both;
}
.ordencontent h1{
  font-size:20px;
  color:#B3B3B3;
  margin:0px;
}

.ordencontent h2 {
  font-size:14px;
  color:#C1BB00;
  font-weight:bold;
  margin:0px;
  white-space:nowrap;
}

.ordencontent h3 {
  font-size:14px;
  color:#B3B3B3;
  font-weight:bold;
  margin:0px;
}

.ordencontent h4 {
  font-size:12px;
  color:#b3b3b3;
  font-weight:normal;
  margin:0px;
}

.ordencontent h5 {
  font-size:12px;
  color:#4d4d4d;
  font-weight:normal;
  margin:0px;
}

.ordenright input {
  width:73px;
  height:29px;
  margin-top:3px;
  margin-bottom:3px;
/*  border-style:solid;
  border-color:#999;
  border-width:thin;*/
}

.ordenright input {
  font-size:12px;
  color:#b3b3b3;
  text-align:right;
}


.ordenrightflechas {
  margin-left:2px;
  margin-right:2px;
  display:inline-block;
}

.clear{
  clear:both;
}

img{
  border-style: hidden;
  vertical-align: middle;
}

#address_map{
  width:310px;
}


.map{
  border: 1px double;
  margin: 10px;
  width: 500px;
  height: 400px;
}

ol{
  list-style: none;
}
.small_map{
  border: 1px double;
  float: left;
  margin: 10px;
  width: 550px;
  height: 350px;
}

.hide{
  display: none;
}

#graph_container{
  margin: 5px;
}

.search_map{
  margin-top: 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #AFAFAF;
  background-color:#F2EAB7;
  margin: 5px;
  padding: 5px;
  width: 570px;
  height: 600px;
}

.input_img{
  width: 21px;
  height: 21px;
  vertical-align: middle;
}

td.number, th.number{
  text-align:right;
  padding-left:0px;
}

.service_type{
  background-color: #F2F2F2;
  margin: 5px;  
  border: 1px outset #AFAFAF;
}

.comments{
  width: 24px;
  height: 24px;
}

.inline{
  display: inline;
}

.link{
  cursor: pointer;
}

.ui-datepicker-trigger{
  margin: 5px;
  vertical-align: middle;
}

.errorExplanation, .alert{
  background-color: #FFAFAF;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DF0000;
  margin: 0px 2px 10px 4px;
}

.notice{
  background-color: #AFFFC9;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;  
  border: 1px solid #099F3A;
  margin: 5px;
  padding:5px;
  width: auto;
}

.errorExplanation h2 {
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  font-style:normal;
  color:black;
  font-weight: bold;
  margin: 5px;
}

.errorExplanation ul{
  list-style: decimal;
  margin-left: 25px;
  font-style: italic;
}

#msg{
  position: absolute;
  margin-left: 600px;
  width: 300px;
}

ul.usr_menu{
  padding: 0px;
}

ul.usr_menu li h3{
 margin: 0px;
 font-size: 14px;
}

ul.usr_menu li{
  margin: 2px;
  padding: 5px;
}

.usr_menu_link{
  cursor: pointer; 
}

.usr_menu_link:hover{
  background-color: #CCCC00;
}

.usr_menu_link:hover a{
  background-color: #CCCC00;
  color:white;
}

.usr_menu_link a{
  color: #CCCC00;
}

.usr_menu_selected a{
  color:white;
}

.usr_menu_selected{
  cursor: pointer; 
  background-color: #CCCC00;
}

 
.ui-accordion-header{
  background-color: #CCCC00;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 5px; 
  border: 2px solid #AFAFAF;
  cursor: pointer;
  margin:5px 5px 5px 5px;
}

.ui-accordion-header a{
  color:white;
  text-decoration: none;
}

.ui-accordion-content{
  margin: 0px 5px 0px 5px;
  border: 1px solid #AFAFAF;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding-left: 5px;
}

#all_data h3{
  margin-top: 5px;
}

.brand_img{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 5px 0px 0px 0px;
}

.service_offer_info{
  padding: 5px;
  width: 95%;
  float: left;
}

.service_offer_detail{
  float: left;
  width: 25%;
}

.service_offer_row{
  width: 100%;
  clear: both;
  overflow: auto;
}

.service_offer_valid{
  float: left;
  text-align: right;
  width: 30%
}

.service_offer_dates{
  float: left;
  text-align: right;
  width: 70%
}

.service_offer_dates span{
  margin-right:0px;
}

.service_offer_dates ul{
 margin:0px 0px 0px 10px;
 padding:0px;
 text-align:right;
}

.service_offer_dates ul li{
  text-align:right;
}

.date_from{
}
.date_until{
}

.service_offer_data{
  float: right;
  text-align: right;
  width: 20%;
}

.price_detail{
  float:left;
  text-align:right;
  width:25%;
}

.serivce_offer_actions{
  background-color:#F2EAB7;
  float: right;
  display: none;
}

.left{
  float: left;
}

.center{
  width: 100%;
  margin:auto;
}

.right{
  float: right;
}
.valid{
  float:left;
  width:50%;
}

.days_col1{
 margin-right:10px;
}

.wo_detail{
  float: left;
  width: 100%; 
}

.wo_detail .services{
  max-width: 69%;
}

.wo_detail .performed{
  float: right;
}

.wo_detail .status{
  float: right;
}

.wo_detail .actions{
  float: right;
}

.client .actions{
  float:right;
}

.top{
  vertical-align: top;
}

.car , .client_car{
  overflow: auto;
}

.car .detail{
  float: left;
  width: 83%;
}

.client_car .detail{
  float: left;
  width: 70%;
}
.client_car .actions {
  width: 10%;
}

.car .actions{
  width: 5%;
}

.logo{
  float: left;
  margin: 0px 5px 0px 5px;
}

.car .km{
  clear: both;
}
.actions{
  float: right;
}

.domain{
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin: 5px;
}

.price{
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.price_b{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.line{
  border-bottom: thin double #CCCCCC;
}

.wo_detail .company{
  float: left;
  clear: both;
  width: 80%;
}

.wo_detail .rank{
  float: left;
  clear: both;
  width: 100%;
}

.service_status a{
  margin-top: 3px;
}

.service{
  background-color: #F2F2F2;
  border:1px outset #AFAFAF;
  margin: 2px;
  padding:2px 5px;
  float: left;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
}

.service .operator{
  font-size: 11px;
  text-align: right;
}

.service a{
  text-decoration: none;
  margin-left: 3px;
}

.services ul{
  padding: 0px;
  margin: 3px;
}

.services{
  max-width: 80%;
  float: left;
  overflow: auto;
}

.services ul li{
  margin: 0px;
}

#workorders{
  float: left;
  width: 100%;
  overflow-y: hidden;
}

/* General dropdown styles */       
.dropdown dd, .dropdown dt, .dropdown ul { 
  margin:0px; 
  padding:0px; 
}

.dropdown dd { 
  position:relative; 
}

/* DT styles for sliding doors */

dl {
  margin: 0px;
  float: right;
}

.dropdown dt a {
  background:#F7F28C url(/images/arrow.png) no-repeat scroll right center;
  display:block; 
  padding-right:20px; 
  border:1px solid #B2AC0C; 
}
    
.dropdown dt a span {
  cursor:pointer; display:block;
  padding:2px 2px 2px 5px;
}
/* UL styles */
.dropdown dd ul li{
  height: 27px;
}
.dropdown dd ul li span.order, .dropdown dt a span.order{
  display: none;
}

.dropdown dd ul li:hover, .dropdown dd ul li:hover a {
  background:#B2AC0C none repeat scroll 0 0;
  color: #F7F28C;
}

.dropdown dd ul {
  background:#F7F28C none repeat scroll 0 0;
  border:1px solid #B2AC0C; 
  display:none;
  list-style:none; 
  padding:5px 0px; 
  position:absolute; 
  left:0px; top:2px; 
  width:auto; 
  min-width:99%;
}

.dropdown span.value {
  display:none;
}

.dropdown dd ul li a {
  padding:2px 5px 2px 5px; 
  display:block;
  float: left;
  clear: both;
}

.dropdown dd ul li{
}

.materials{
  width: 100%;
  overflow: auto;
}

#materials_list{
  width: 98%;
}

.add_comment{
  background: url(/images/add_comment.png) no-repeat scroll;
  height: 21px;
  width: 21px;
  float: left;
}

.new{
  background: url(/images/new.png) no-repeat scroll;
  height: 21px;
  width: 21px;
  float: right;
}

.edit_comment{
  background: url(/images/edit_comment.png) no-repeat scroll;
  height: 21px;
  width: 21px;
  float:left;
}

#company-selector{
  margin-top: 5px;
}

.company_detail .actions{
  width: 25px;
  float: right;
}
.company_detail .address{
  float: left;
  width: 90%;
}

.event{
  width: 100%;
}

.km{
  margin-right: 15px;
}
.event .status{
  margin: 2px 5px;
}
.overflow{
  overflow: auto;
}

.rojo{
  border: 1px solid red;
  background-color: #FF9999;
  overflow: auto;
}

.mi_rojo{
  border: 1px solid red;
  background-color: #F77979;
  overflow: auto;
}

.amarillo{
  background-color:#FFFFA0;
  border: 1px solid #FF8057 ;
  overflow: auto;
}

.mi_amarillo{
  background-color:#F7F774;
  border: 1px solid #FF8057 ;
  overflow: auto;
}

.verde{
  background-color:#A0FFA0 ;
  border: 1px solid green;
  overflow: auto;
}

.mi_verde{
  background-color:#69F469 ;
  border: 1px solid green;
  overflow: auto;
}

.dueDate label{
  padding: 3px;
}

#total_work_order{
  float: right;
  margin-right: 53px;
  font-size: 20px;
  font-weight:bold;
  color:black;
}

.service_event{
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  margin: 5px 9px;
  padding: 5px;
  width: 30%;
}

.events{
  margin: auto;
  overflow: auto;
  width: 100%;
}

#view input, #select input{
  margin :2px 15px;
}

#service_offers{
  display:inline;
}

#zone_filter{
  margin-left:185px;
}

#control_panel{
  margin-left:0px;
}

.cars{
  float: left;
}
.small_event{
  height: 40px;
  padding: 2px 5px;
  width: 82px;
}

.small_event .domain, .my_big_event .domain, .big_event .domain{
  font-weight: bold;
  font-size:15px;
  text-transform:uppercase;
  color: black;
  margin: 1px;
}

.big_event{
  width: 160px;
  height:110px;
  position:absolute;
  display:none;
  padding: 3px;
  border-width: 2px;
}

.my_big_event{
  width: 210px;
  height:165px;
  position:absolute;
  display:none;
  padding: 3px;
  border-width: 2px;
}

#cars_events ul{
  padding: 0px;
}

#events li:hover .dropdown_5columns {
  left:-1px;
  top:auto;
}


#departments{
  display:inline;
}


.short_select{
  width:100px
}

.medium_select{
  width:130px
}

.long_select{
  width:180px
}

.long_text{
  width:150px
}

.short_text{
  width:100px
}

#offer{
  margin-top:10px;
}

.cp_event{
  margin: 1px;
}

.link {
  cursor:pointer;
}

#send_passowrd{
  width: 90%;
  padding: 10px;
}

#sort_by{
  margin-right: 1px;
}

.buttons{
  width:80%;
  float:left;
}
.buttons a.button{
  vertical-align: middle;
}

#wo-actions{
  overflow: auto;
  margin:5px 0px;
  width:100%;
}

#wo-actions select{
  margin:0px 2px;
}


