#service_offers{
	display:inline;
}

#zone_filter{
	margin-left:185px;
}

#control_panel{
	margin-left:0px;
}

.cars{
	float: left;
	width: 90px;
}
.small_event{
 height: 40px;
 padding: 2px 5px;
 width: 80px;
}

.big_event{
  width: 160px;
  height:110px;
  position:absolute;
  display:none;
  padding: 3px;
}

.my_big_event{
  width: 210px;
  height:165px;
  position:absolute;
  display:none;
  padding: 3px;
}

#cars_events ul{
  padding: 0px;
}

#events li:hover .dropdown_5columns {
  left:-1px;
  top:auto;
}


#departments{
	display:inline;
}


.short_select{
	width:100px
}

.medium_select{
	width:130px
}

.long_select{
	width:180px
}

.long_text{
	width:150px
}

.short_text{
	width:100px
}

#offer{
	margin-top:10px;
}

.cp_event{
}

.link {
	cursor:pointer;
}
