#s3slider {
   width: 800px; /* important to be same as image width */
   height: 750px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
   margin:0 auto;
}

#s3sliderContent {
   width: 790px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 2px; /* important */
  -moz-box-shadow: 2px 2px 5px #888888;
  -webkit-box-shadow: 2px 2px 5px #888888;
  box-shadow: 2px 2px 5px #888888;
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}


.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 14px/19px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 450px;
   background-color: #000; /*#000;*/
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff; /*#fff;*/
   display: none; /* important */   
   bottom:0;
   /*
       if you put
       top: 0; -> the box with text will be shown at the top of the image
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
}
