table.service_table{
  width: 100%;
}

.service_table th , .service_table tr.header{
  border-bottom: thin double black;
  background-color: #F2EAB7;
  text-align: center;
  padding: 3px;
  font-weight: bold;
}

td.center{
  text-align: center;
}

.service_table td{
}

.current_col{
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #FCF5CC;
}

.current{
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #F2EAB7;
}

.asc{
  background-image:url(/images/up.gif);
}

.desc{
  background-image:url(/images/down.gif);
}

