table.service_table{
  width: 100%;
}

.service_table th , .service_table tr.header{
  border-bottom: thin double black;
  background-color: #F2EAB7;
  text-align: center;
  padding: 3px;
  font-weight: bold;
}
.total{
 font-weight: bold;
 text-align: right;
}

td.center{
  text-align: center;
}

.service_table td{
}

.service_table td.header{
  background-color: #FCF5CC;
}

.current_col{
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #FCF5CC;
}

.current{
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #F2EAB7;
}

.asc{
  background-image:url(/images/up.gif);
}

.desc{
  background-image:url(/images/down.gif);
}

.star_select{
  background-image: url(/images/star_select.png);
  background-repeat:no-repeat;
  background-position:center;
  height:16px;
  width: 16px;
  float: left;
}

.star{
  background-image: url(/images/star.png);
  background-repeat:no-repeat;
  background-position:center;
  height:16px;
  width: 16px;
  float: left;
}

.ajax {
    float: left;
    height: 11px;
    margin-top: 3px;
    width: 16px;
}

.usr_rank_stars{
  float: right;
}

input.date{
  width: 70px;
}

img.status{
  vertical-align: middle;
}

.service_status{
  float: right;
}

.row_over{
  background-color:#F2EAB7;  
}

.row{
  border-bottom-width:thin;
  border-bottom-color:#CCC;
  border-bottom-style:double;
  padding-top: 5px;
  padding-bottom: 5px;
}


