.vertical_menu
  = render "home/menu"
  = render "home/default_actions"
.contentright_s
  .box_bottom
    %h1 Ofertas de Servicios Confirmadas
  #service_offers
    = render :partial => "vehicle_service_offer_confirmed",:collection => @vehicle_service_offers,:as =>"vehicle_service_offer"