.vertical_menu
  = render "home/menu"
  = render "home/default_actions"
.contentright_s
  .box_bottom
    %h1
      Oferta de Servicio
  = render :partial =>"vehicle_service_offer",:locals =>{:vehicle_service_offer =>@vehicle_service_offer}