%table.comboxform
  %tbody
    %tr
      %td
        Nombre
      %td
        = @user.first_name
    %tr
      %td
        Apellido
      %td
        = @user.last_name
    %tr
      %td
        Email
      %td
        = @user.email
    %tr
      %td
        Teléfono
      %td
        = @user.phone
  
