%tbody
  %tbody
    %tr
      %td
        %label{ :for => "login" }Nombre
      %td
        = f.text_field :first_name
    %tr
      %td
        %label{ :for => "login" }Apellido
      %td
        = f.text_field :last_name
    %tr
      %td
        %label{ :for => "email" }Email *
      %td
        = f.text_field :email
    %tr
      %td
        Teléfono
      %td
        = f.text_field :phone
