#activate
  %h1 Ingrese su clave para activar su cuenta
  - form_for :user, @user, :url => { :action => :change_pass, :id => @user.id }  do |f|
    = f.error_messages
    %table
      %tr
        %th
          Nueva Contraseña
      %tr
        %td
          %label{ :for => "password" }Clave *
      %tr
        %td
          = f.password_field :password
      %tr
        %td
          %label{ :for => "password_confirmation" }Confirmar Clave *
      %tr
        %td
          = f.password_field :password_confirmation
      %tr
        %td
          = submit_tag 'Grabar'
  %label * Campos Obligatorios

