-# javascript 'jquery.dataTables'
-# javascript 'sort.table'
-# stylesheets 'demo_page'
-# stylesheets 'demo_table'
%table#sort_table.display
  %thead
    %tr
      %th Nombre
      %th Provincia
      %th Departamento
      %th Ciudad
      %th Reputación
  - for company in @companies
    %tr
      %td
        =company.name
      %td
      %td
      %td
      %td         
            