-# javascript 'jquery.dataTables'
-# javascript 'sort.table'
-# stylesheets 'demo_page'
-# stylesheets 'demo_table'
%h1 Servicios a realizar
%table#sort_table.display
  %thead
    %tr
      %th Auto
      %th Tipo de Servicio
      %th Fecha
  - for event in @events
    %tr
      %td
        = event.vehicle.domain
      %td
        = event.service_type.name
      %td
        = l event.dueDate
