.box_bottom
  %h1 
    = link_to "Actualizar desde archivo","#",:id =>"update_from_file"
.box_bottom.upload_file.hide
  .import_form
    = form_for @price_list,:url => price_upload_price_list_path(@price_list),:html =>{:multipart => true} do |f|
      .left
        = file_field :price, :file
      .left
        = submit_tag "Importar",:disable_with => 'Importando...',:class =>:button
