- if target && target.errors.any?
  .error_container
    .error_msg
      .cruzroja.link
      %h2
        - if target.errors.count > 1
          = t('.errors_prohibited_plural',count: target.errors.count)
        - else
          = t('.errors_prohibited_singular')
      %ul
        - target.errors.full_messages.each do |msg|
          %li= msg