.menu_actions.box_bottom
  .menu_data
    %ul
      - if company_id
        %li
          = link_to t(".new_client"),new_client_path,{:title=>t(".create_new_client")}
        %li
          = link_to t(".new_budget"),new_budget_path(:c => @client.id),{:title=>t(".new_budget")}
      - if current_user.can_edit?(@client)
        %li
          = link_to t(".modify_client"),edit_client_path(@client),{:title=>t(".modify_client")}
        %li
          = link_to t(".new_vehicle"), new_vehicle_path(:user_id=>@client.id), {:title =>t(".new_vehicle")}