%h1 Listado de Clientes
- if @cars.size > 0
  %table.comboxtable
    %thead
      %tr
        %th Cliente
        %th Email
        %th Auto
    - for car in @cars
      %tr
        %td= car.user.full_name
        %td=link_to h(car.user.email), user_path(car.user)
        %td= car.info

