.vertical_menu
  =render "home/menu"
  .box_bottom
    =render :partial=>"cars/search_car",:locals =>{:cars=>[],:table_id =>:sort_table}
  -if current_user.company
    .box_bottom
      = render "cars/search_clients"      
  = render "home/default_actions"
.contentright_s
  #cars.data
  #clients.data
    = render "clients"
