-# javascript 'clients'
-# javascript 'jquery.ba-url.min'
.vertical_menu
  =render "home/menu"
  -if company_id && current_user.confirmed
    .box_bottom
      =render :partial=>"vehicles/search_vehicle",:locals =>{:vehicles=>[],:table_id =>:sort_table}
  -if company_id
    .box_bottom
      = render "vehicles/search_clients"
  = render "home/default_actions"
.contentright_s
  #vehicles.data
  #clients.data
    = render :partial => "list_clients",:locals => {:clients => @clients}
