= form_for :material,:remote=>true,:url=>details_materials_path,:html=>{:id=>:material_form,:method=>:get} do |f|
  %table.service_table
    %tr
      %td
        %h1 Buscador de Materiales
    %tr
      %td
        Servicio
    %tr
      %td
        = collection_select :service_type,:id,@service_types,:id,:name,:include_blank => true,:name=>"service_type_id"
        =link_to image_tag('max.png',:class=>"input_img",:title =>"Maximizar Orden de Trabajo"),"#",:id=>"maxim"
    %tr
      %td
        Material
    %tr
      %td
        = text_field_tag :detail,@detail,:class=>:left
        = image_submit_tag("find.png",:class =>"input_img")
#materials_list
  
		
