= form_for @work_order, :url => confirm_price_offer_workorder_path(@work_order) do |f|
  .price_offers
    -@work_order.price_offers.each do |price_offer|
      .price_offer.row
        .po_left
          =radio_button_tag('price_offer_selected.id', price_offer.id ,price_offer.confirmed)
        .po_right
          %strong=price_offer.user.full_name
          %p
            =price_offer.price
  .buttons_container
    =f.submit "Grabar",:class=>"button"
    =link_to "Cancelar",autopart_workorders_path
