%dl.dropdown#order_by
  %dt
    %a{:href => "#"}
      %span Ordenar por
  %dd
    %ul
      %li
        %a{:href => "#",:id=>"car_domain_asc"}
          Dominio
          %span.value vehicles.domain
          %span.asc
          %span.order asc
      %li
        %a{:href => "#",:id=>"car_domain_desc"}
          Dominio
          %span.value vehicles.domain
          %span.desc
          %span.order desc
      %li
        %a{:href => "#",:id=>"workorders_performed_asc"}
          Realizado
          %span.value workorders.performed
          %span.asc
          %span.order asc
      %li
        %a{:href => "#",:id=>"workorders_performed_desc"}
          Realizado
          %span.value workorders.performed
          %span.desc
          %span.order desc