%dl.dropdown#order_by
  %dt
    %a{:href => "#"}
      %span Ordenar por
  %dd
    %ul
      %li
        %a{:href => "#"}
          Dominio
          %span.value cars.domain
          %span.asc
          %span.order asc        
      %li
        %a{:href => "#"}
          Dominio
          %span.value cars.domain
          %span.desc
          %span.order desc
      %li
        %a{:href => "#"}
          Realizado
          %span.value workorders.performed
          %span.asc
          %span.order asc
      %li
        %a{:href => "#"}
          Realizado
          %span.value workorders.performed
          %span.desc
          %span.order desc