.box_bottom
  %h1.left Detalle del Reporte
  .title_actions
    .action                
      %a.export_link#export_detail_report{:href => "#",:title => t('export')}
%table.w
  %col{:width=>"60%"}
  %col{:width=>"40%"}
  %tr
    %td Cantidad Ordenes de Trabajo
    %td.number
      %strong
        = @count
  %tr
    %td Tipos de Servicio
    %td.number
      %strong
        = number_with_precision @services_amount,:precision=>0
  %tr
    %td Ordenes de Trabajo
    %td.number
      %strong
        = number_to_currency @workorder_amount
        
