.box_bottom
  %h1
    -if current_user.user_type.present? && current_user.user_type.auto_part?
      = t ".workorders_autopart"
    -else
      = t ".workorders_performed"

= render :partial =>"work_order_row",:collection => @work_orders
.clear
  = will_paginate @work_orders

