#all-workorder
  .vertical_menu
    =render "admin/menu"

  .contentright_s
    - if @work_orders.size > 0
      #workorders_c.data          
        #workorders
          = render 'autopart_workorders'
    - else
      = render 'shared/message', :msg =>"No hay ordenes para cotizar"

