- stylesheets 'jquery-ui-1.8.11.custom.css'
- javascript 'workorder'
- javascript 'pagination'
- javascript 'jquery.ba-url.min'
%all-workorder
  %h1
    = vineta 
    Servicios Realizados
  .contentleft
    = render 'search'
  #workorders.contentright
    - if @work_orders.size > 0
      = render 'workorders'
    - else
      = render 'shared/message', :msg =>"No hay servicios realizados"
