- stylesheets 'jquery.ui.base.css'
- stylesheets 'jquery.ui.theme.css'
- javascript 'workorder'

%all-workorder
  %h1
    = vineta 
    Servicios Realizados
  .contentleft
    = render 'search'
  #workorders.contentright
    = render 'workorders'
