-@companies = Company.all(:order =>"created_at desc")
%h1 Últimos Prestadores de Servicios
%p
  %ul.list
    - @companies.each do |c|
      %li
        = c.name
        - if c.address
          =", #{c.address.state.name}"
#sendprestadores
  = button_to "Prestadores", all_companies_path,:method =>:get,:class=>"btn"
