%h1 Qué es Comunidad Box?
%p
  Es una herramienta tecnológica que surge de la necesidad de desarrollar el concepto de GESTION  DE CLIENTES Y SERVICIOS 
  en el sector automotriz, permitiendo la interacción entre Dueños de Autos, Prestadores de Servicios (Talleres Mecánicos) y Proveedores
= link_to "Leer Mas","/",:class=>"button"
