.menu_actions
  .box_bottom
    %ul
      %li
        - if company_id
          = link_to "Nuevo Cliente",new_client_path,{:title=>"Crear nuevo cliente"}           
        - else      
          = link_to "Nuevo Automóvil", new_car_path(:user_id=>current_user.id)
      = yield :actions