.menu_actions
  .box_bottom
    %ul
      - if company_id
        %li
          = link_to t(".new_client"),new_client_path,{:title=>t(".create_new_client")}
        %li
          = link_to t(".import_clients"),import_clients_path,{:title=>t(".import_clients")}
      - else      
        %li
          = link_to t("new_vehicle"), new_vehicle_path(:user_id=>current_user.id)
      = yield :actions