%h1 Últimas Noticias
%h2
  = l Time.now
%p A Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac leo est. Fusce tincidunt ultrices consequat. Cras sit
%h2 
  =l 2.day.ago
%p B Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac leo est. Fusce tincidunt ultrices consequat. Cras sit
%h2 
  = l 3.day.ago
%p C Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac leo est. Fusce tincidunt ultrices consequat. Cras sit
%p
  %input#sendvernoticias.btn{:name => "send", :type => "submit", :value => "Ver Noticias"}