%h1 Últimas Noticias
%h2
  =l Time.now
  %br
  %a{:href=>"http://vimeo.com/21803826",:target =>"_blank"}
    Como registrar un usuario final
%p  
  %iframe{:src=>"http://player.vimeo.com/video/26167126", :width=>"200", :height=>"100",:frameborder=>"0"}
%h2 
  =l 2.day.ago
  %br
  %a{:href=>"http://vimeo.com/21803826",:target =>"_blank"}
    Como registrar un prestador de servicios, registrar servicios y usar el Panel de Control
%p  
  %iframe{:src=>"http://player.vimeo.com/video/26175104", :width=>"200", :height=>"100",:frameborder=>"0"}
%p
  %input#sendvernoticias.btn_b{:name => "send", :type => "submit", :value => "Ver Noticias"}