#cont3
  .cuadro.gray
    = render "/home/comunidadbox"    
  .cuadro.orange
    = render "/home/last_notice"    
  .cuadro.gray
    - if current_user
      = render "/home/my_events"
    - unless current_user
      = render "/home/companies"
