.box_bottom
.box_bottom
  .video.center
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/67908748", :webkitallowfullscreen => "", :width => "650"}
  %p    
    %a{:href => "http://vimeo.com/comunidadbox"} Tutoriales - ComuidadBox 