#cont3
  .new_msgs
    .cuadro.left.gray
      = render "/home/comunidadbox"    
    .cuadro.right.gray
      - if current_user
        = render "/home/my_events"
      - unless current_user
        = render "/home/companies"
    .cuadro.middle.orange
      = render "/home/last_notice"    
