#cont3
  #cuadro1.cuadro
    = render "/home/comunidadbox"    
  #cuadro2.cuadro
    = render "/home/last_notice"    
  #cuadro3.cuadro
    - if current_user
      = render "/home/my_events"
    - unless current_user
      = render "/home/companies"
