.shadown2.title
  #cont1
    #comunidadbox
      %h1=t(".welcome")  
      %span.hide=t(".message1")
      %h2
        %span#cont1=t(".message2")
        %br
      - if user_signed_in?
        - if company_id && get_service_types.empty?
          = link_to t(".message3"), service_types_companies_path
