.doc_row.box_bottom
  .video_home.center
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "481", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/67908748", :webkitallowfullscreen => "", :width => "700"}