-if @companies && @companies.size > 0
  .box_bottom
    %h1 Prestadores de Servicios  
  = render :partial=>"companies/company",:collection => @companies,:locals =>{:active =>false}
-else
  %label
    No hay empresas registradas        