-if @companies && @companies.size > 0
  .box_bottom
    %h1=t(".service_providers") 
  = render :partial=>"companies/company",:collection => @companies,:locals =>{:active =>false}
-else
  %label
    No hay empresas registradas        