.box_bottom
  %h1 Nueva Empresa
= form_for @company,:html => {:multipart => true} do |f|
  = render "form",:f => f
  .box_bottom.buttons_container
    = f.submit "Grabar",:class=>"button" 
    = link_to "Cancelar",companies_path