.box_bottom
  %h1=t(".service_provider")
.box_bottom
  .google_map
    = render "gmap4rails"    
.box_bottom
  %strong
    =t(".address")
  = @street
  %strong
    =t(".radius")
  = " #{@distance} km"
  %ul#markers_list

