.box_bottom
  %h1 Prestadores de Servicios
.box_bottom
  .google_map
    = render "gmap4rails"    
.box_bottom
  %strong
    Dirección:
  = @street
  %strong
    radio de:
  = " #{@distance} km"
  %ul#markers_list

