- javascript 'maps'
- javascript 'search_company_map'
%h1 Prestadores de Servicios
#filtro.contentleft
  = render "search"
#all_companies.contentright
  #companies
    = render "companies"
    = render "maps"