- form_for(@company) do |f|
  = render 'shared/error_messages', :target => @company  
  = render :partial=>'form', :locals=>{:f => f}
  = f.submit "Actualizar"  
  |
  = link_to image_tag("return.png"),companies_path
