- javascript 'maps'
- javascript 'search_company_map'
%h1
  = vineta 
  Mis Empresas
#filtro.contentleft
  = render "search"
#all_companies.contentright
  #companies
    = render "companies"
    = render "maps"