- javascript 'maps'
- javascript 'search_company_map'
#company_info
  %h1
    = vineta 
    Prestador de Servicios
  .contentleft
    = render 'show'
  .contentright
    #map_container{:style=>"margin:0 auto; width:90%"}
      #map_canvas.map
