- javascript 'maps'
- javascript 'search_company_map'
#company_info
  %h1 Prestador de Servicios
  .contentleft
    = render 'show'
  .contentright
    #map_canvas.map

= link_to image_tag("return.png"),companies_path
= link_to image_tag("edit.png"),edit_company_path(@company)
