- javascript 'jquery.dataTables'
- javascript 'sort.table'
- stylesheets 'demo_page'
- stylesheets 'demo_table'
%h1 Ofertas de Servicio
%table{:id=>'sort_table',:class=>'display'}
  %thead
    %tr
      %th Desde
      %th Hasta
      %th Titulo
      %th Estado
      %th
  - @offers.each do |offer|
    %tr
      %td=h offer.from
      %td=h offer.until
      %td=link_to offer.title, offer
      %td=h offer.status
      %td
        = link_to image_tag('edit.png'), edit_offer_path(offer) if (offer.status == 'Pendiente' || offer.status == 'Abierto')
        = link_to image_tag('delete.png'), offer, :confirm => 'Esta seguro?', :method => :delete

