%h1 Detalle de Oferta

%p
  %strong Autos Seleccionados

%table
  - @offer.cars.each do |car|
    %tr
      %td
        =h car.domain

%p
  %h2 Servicio

%p
  %strong Titulo:
  =h @offer.title
%p
  %strong Precio:
  =h @offer.price
  %strong Descuento:
  =h @offer.discount
  %strong Descuento %:
  =h @offer.percent
  %strong Precio Final:
  =h @offer.final_price
  %strong Estado:
  =h @offer.status

%p
  %strong Valido
  %strong Desde:
  =h @offer.from
  %strong Hasta:
  =h @offer.until
%br
%table
  %tr
    %th
    %th Lu
    %th Ma
    %th Mi
    %th Ju
    %th Vi
    %th Sa
    %th Do
  %tr
    %td Dias
    %td
      =h @offer.monday ? "X" : ""
    %td
      =h @offer.tuesday ? "X" : ""
    %td
      =h @offer.wednesday ? "X" : ""
    %td
      =h @offer.thursday ? "X" : ""
    %td
      =h @offer.friday ? "X" : ""
    %td
      =h @offer.saturday ? "X" : ""
    %td
      =h @offer.sunday ? "X" : ""

%p
  %strong Comentario:
  %br
  =h @offer.comment

