%h1
  Listado de Paises
%table
  %tr
    %th
      Nombre
  - for country in @countries
    %tr
      %td
        = link_to h(country.name),country
      %td
        = link_to image_tag('edit.png'), edit_country_path(country)
      %td
        = link_to image_tag('delete.gif'), country, :confirm => '¿ Esta seguro que desea borrarlo ?', :method => :delete
%br
= link_to image_tag('new.png'), new_country_path
