#event_detail.event_detail
  .detail
    .box_bottom
      .left
        .domain.domain_white
        %label.car
        .block
          %label.user_full_name
      .right
        .actions
          .action
            .add_alarm{:title => "Nueva Alarma"}
          .action
            .new_note{:title => "Nueva Nota"}
    .box_bottom
      .block
        .left
          %label.user_email_label Email:
          %label.user_email
        .right
          %label.user_phone_label Teléfono:
          %label.user_phone
      .block
        .left
          %label.km_label Kilometraje:
          %label.km
        .right
          %label.km_avg_label Kilometraje Promedio:
          %label.km_avg
      .block
        .left
          %label.total_company_spend_label Total Prestadaor Servicio:
          %label.total_company_spend
        .right
          %label.total_spend_label Total Gastado:
          %label.total_spend
  #notes.hide
    = render :partial =>"notes/note_form_np",:locals=>{:wo => nil,:b=>nil,:notes =>[] }
  #alarms.hide
    = render :partial =>"alarms/ajax_form"
    .alarms   