
.vertical_menu
  = render "home/menu"
  = render "home/default_actions"
.contentright_s  
  .box_bottom
    %h1 Ofertas de Servicios
  #service_offers
    = render :partial => "car_service_offer",:collection => @car_service_offers
    