%h1
  =vineta 
  Ofertas Servicio
.box
  - if @offers.size > 0
    %table#sort_table.comboxtable
      %thead
        %tr
          %th Prestador de Servicio
          %th Titulo
          %th Tipo de Servicio
          %th Dominio
          %th Estado
      - @offers.each do |offer|
        %tr
          %td= offer.service_offer.company.name
          %td=link_to offer.service_offer.title, offer
          %td= offer.service_offer.service_type.name
          %td=h offer.car.domain
          %td= icon_status offer.status
  - else
    No hay ofertas de servicios de autos		
  %br  