%h3=t(".search_vehicles")
#vehicle_search.left
  .form
    = form_tag sti_vehicle_path, :remote =>true,:method =>:get do |f|
      = hidden_field_tag :company_id,"a"
      %table.w
        %tr
          %td
            = text_field_tag 'domain',"",:class=>"input",:title=>"Dominio",:placeholder=>t(".domain")
        %tr
          %td
            = image_submit_tag("find.png",:class =>"input_img")
  .ajax_loader.right
