@charset "utf-8";
/* CSS Document 
#F2F2F2
*/

.user_status_radio{
  margin-left: -4px;
}

.doc_row{
  padding:5px;
}

.doc_row h1{
  padding: 5px 0px;
}

.video{  
  padding-top: 10px;
  width: 93%;
}

.video_home{  
  padding-top: 10px;
  width: 73%;
}

.field_with_errors{
  display: inline;
}

.field_with_errors input{
  background: #FFAFAF;  
  color: black;
}

.header_text_lable{
  display: block;
  float: left;
  padding: 5px;
}

.service_type .code{  
  float: left;
  padding: 2px 3px 2px 3px;
}

li.ui-menu-item a span{
  color:black !important;
  font-weight:bold;
}

li.ui-menu-item a label{
  float:right;
  margin-right: 5px;
}

body {
  background-color: #FFFF;
  padding:0px;
  margin:0px;
  color:#707070;
  font-size:14px;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  height:100%;
}

.msg_update_km{
  width:35%;  
}

.update_km{
  padding: 4px 2px;
  width:97%;
  float: left;
}

.update_km h4{
  margin: 5px;
}

.update_km_form{
  overflow: auto;
  padding-left:5px;
}

.ajax_loader_m{
  margin:8px 3px;
  background-image:url(images/ajax-loader.gif);
  height: 11px;  
  width: 16px;
  display:none;
}


.ajax_loader{
  background-image:url(images/ajax-loader.gif);
  height: 11px;
  margin: 5px 2px;
  width: 16px;
  display:none;
}

.delete{
  background-image:url(images/delete.png);
  height:16px;
  width:16px;
  display:inline-block;
}

.block{
 display:block;
 overflow: auto;
}

.confirm{
  background-image:url(images/confirm.png);
  height:16px;
  width:16px;
  display:inline-block;
}

.edit{
  background-image:url(images/edit.png);
  height:16px;
  width:16px;
  display:inline-block;
}

.sent{
  background-image:url(images/sent.png);
  height:16px;
  width:16px;
  display:inline-block;
}

.new_budget{
  background-image:url(images/new_budget.png);
  height:16px;
  width:16px;
  display:inline-block;
}

.autopart_price_offer{
  background-image:url(images/budget_s.png);
  height:16px;
  width:16px;
  display:inline-block;
}

.wo_note{
  overflow: auto;
  width:100%;
}

.wo_id, .bg_id{
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-right: 3px;
}

.has_notes{
  background-image:url(images/notes.png);
  background-position:center;
  height:16px;
  width:16px;  
  float: left;  
}

.has_alarms{
  background-image:url(images/new_alarm.png);
  background-position:center;
  height:16px;
  width:16px;  
  float: left;  
}

.new_message{
  background-image:url(images/message.png);
  background-position:center;
  height:16px;
  width:16px;  
  float: left;  
}

.es{
  background-image:url(ar_flag.png);
  background-position:center;
  height:16px;
  width:16px;
  margin: 0px 2px;
}

.en{
  background-image:url(usa_flag.png);
  background-position:center;
  height:16px;
  width:16px;
  margin: 0px 2px;
}


.budget_s{
  background-image:url(images/budget_s.png);
  height:16px;
  width:16px;
  display:block;
}


.new_service{
  background-image:url(images/new_service.png);
  height:16px;
  width:16px;
  display:block;
}

.generate_email{
  background-image:url(images/my_services.png);
  height:21px;
  width:21px;
  margin: 2px;
}

.service_s{
  background-image:url(images/service_s.png);
  height:16px;
  width:16px;
  display:block;
}

.event_s{
  background-image:url(images/event.png);
  height:16px;
  width:16px;
  display:block;
}

.note_car{
  background-image:url(images/car.png);
  height:16px;
  width:16px;
  display:block;
}


.new_car{
  background-image:url(images/new_car.png);
  height:16px;
  width:16px;
  display:block;
}

#service_center_actions .form{  
  width:80%;
  float:left;
}

#service_center_actions .ajax_loader{
  margin-top:36px;
}

#car_search{
  width:100%;
}

#car_search form, #client_search form, #service_center form{
  float:left;
  width:100%;
}

#car_search input, #client_search input, #service_center input,#service_offer_search input, #employees input,.search input{ 
  margin:2px;
}

#car_search select, #client_search select{
  margin:2px;
  width:140px;
}

#client_search .ajax_loader, #car_search .ajax_loader, #service_offer_search .ajax_loader, #service_center .ajax_loader, #comp_search .ajax_loader{
  margin-top:-20px;
}

#km_update .ajax_loader{
  margin-top:18px;
}


#container{
  min-height:100%;
  position:relative;
}

#body{
  padding-bottom:10px;  
  margin: 0 auto;
  width:960px;  
  padding-top:10px;
  min-height:776px;
}

#header {
  background-color:#a8aa3a;       
  background-image:url(images/headerpng.png);
  background-repeat:no-repeat;
  background-position:center;
  box-shadow: 0px 3px 5px #888;
  -moz-box-shadow: 0px 3px 5px #888;
  -webkit-box-shadow: 0px 3px 5px #888;
  height:56px;  
}

#footer {  
  bottom:0;
  width:100%;  
  height:44px;
  background: #3f3f3f; /* Old browsers */
background: -moz-linear-gradient(top,  #3f3f3f 21%, #666666 100%, #5e5e5e 100%, #1c1c1c 100%, #2b2b2b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#3f3f3f), color-stop(100%,#666666), color-stop(100%,#5e5e5e), color-stop(100%,#1c1c1c), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3f3f3f 21%,#666666 100%,#5e5e5e 100%,#1c1c1c 100%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3f3f3f 21%,#666666 100%,#5e5e5e 100%,#1c1c1c 100%,#2b2b2b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3f3f3f 21%,#666666 100%,#5e5e5e 100%,#1c1c1c 100%,#2b2b2b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3f3f3f 21%,#666666 100%,#5e5e5e 100%,#1c1c1c 100%,#2b2b2b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */

}

#footer img{
  margin-top:8px;
  padding:0px;
  float:left;
}

#wrapper_footer{
  width:960px;
  margin:0 auto;
}
        
a{
  color:#B2AC0C;
  text-decoration:none;
}


#avatar_login a{
  color: white;
  font-weight: bold;
}

#avatar_login a#help_link{
  background-color: white;
  color: #A8AA3A;
  padding: 0 3px;
}

#popup_menu a{
  color:#B2AC0C;
}


.checkbox, .radio{
  width: 15px;
  height: 12px;
  margin: 0px;
}

h1 {
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  color: #54534E;
  font-size:24px;
  font-weight:bold;
  margin:5px;
}

h3{
  margin:5px 10px;
}

h4{
 margin: 10px;
}

h1.contentright{
  margin-top: -31px;
}

h2 {
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  font-style:normal;
  color:#B3B3B3;
  margin:0px; 
  font-weight:400;
}
h2 a {
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  color:#CCCC00;
  text-decoration:none;
  font-weight:500;
}
h2 a:hover {
  color:#CCCC33;
}

#logo {
  padding:0px;
  margin:0 auto 0 auto;
  width:960px;
}

#wrapmenu {
  background-color:#C1BB00;
  height:45px; 
}

#menu {
  margin:0 auto 0 auto;
  width:900px;
  height:45px;
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  color:#FFF;
}

#menu {
  list-style:none;
  width:960px;
  margin:0px auto 0px auto;
  height:25px;
  padding:5px 0px 0px 0px;

  /* Rounded Corners */

  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;

  /* Background color and gradients */

  background: #C9C20D;
  background: -moz-linear-gradient(top, #DBDB39, #C9C20D);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBDB39), to(#C9C20D));
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DBDB39), to(#C9C20D));
  background-image: -webkit-linear-gradient(top, #DBDB39, #C9C20D);
  background-image: -moz-linear-gradient(top,  #DBDB39, #C9C20D);
  background-image: -ms-linear-gradient(top, #DBDB39, #C9C20D);
  background-image: -o-linear-gradient(top, #DBDB39, #C9C20D);
  background-image: linear-gradient(top, #DBDB39, #C9C20D);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DBDB39', EndColorStr='#C9C20D');

  /* Borders */

  border: 0px solid #002232;

  -moz-box-shadow:inset 0px 0px 1px #edf9ff;
  -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
  box-shadow:inset 0px 0px 0px #edf9ff;
}

#menu_container{
  width: 100%;
  /* Background color and gradients */

  background: #C9C20D;
  background: -moz-linear-gradient(top, #DBDB39, #C9C20D);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBDB39), to(#C9C20D));  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DBDB39), to(#C9C20D));
  background-image: -webkit-linear-gradient(top, #DBDB39, #C9C20D);
  background-image: -moz-linear-gradient(top,  #DBDB39, #C9C20D);
  background-image: -ms-linear-gradient(top, #DBDB39, #C9C20D);
  background-image: -o-linear-gradient(top, #DBDB39, #C9C20D);
  background-image: linear-gradient(top, #DBDB39, #C9C20D);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DBDB39', EndColorStr='#C9C20D');
  margin-top:-5px;
  
}

#menu_container a{    
  color: #EEEEEE;
  font-weight:bold;
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size: 16px;  
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
  margin:0px 5px;
}


#content {
  overflow:auto;  
  margin:0 auto;    
  width:960px;  
  min-height:700px;
  
}

#cont1 {
  margin-bottom:24px;
  width: 100%;
  text-align:center;
}

.login_links{
  float: right;  
  text-align: right;
}

#login_c {  
  background-color:#808080;
}

#login_c h3{
  color:white;  
}

#login_c form{
  margin: 0 auto;
  overflow: auto;
  padding: 10px;  
}

#part1 {
  color: #B3B3B3;
  font-size: 16px;
  margin
}

.part22 {
  font-size:9px;
  margin-top:10px;
}

.part22 .links{
  margin-left:5px;
}

#part22 ul{
  margin-left:10px;
}

.part22 .links{
  margin-left:26px;
}

.links a{
  font-size:12px;
}

#part22 table{
  margin:0px;
  margin-top:7px;
  text-align: center;
}

#part22 .sgn{
  margin-top:5px;
}

#part22 h4{
  color:#B3B3B3;
  margin:0px;
}
  
#part3 {
  width:165px;
  height:0px;
}

#cont3 {  
  margin-top:10px;
  overflow: auto;
}

.cuadro{
  height:470px;
  width: 30%;
  padding: 10px;  
}

.middle{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.cuadro h1 {
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:18px;
  color:#4D4D4D;
}
.cuadro h2 {
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:12px;
  color:#CCCC33;
  margin-left:10px;
  margin-top:0px;
  margin-right:10px;
  margin-bottom:0px;
}
.cuadro p {
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:12px;
  color:#4D4D4D;
  margin:25px;
  margin-top:0px;
  margin-bottom:10px;
  line-height:1.4em;
}
.cuadro ul {
  list-style:none;
  margin:0px;
  padding:0;
}
.cuadro li {
  margin: 5px;
  list-style: inside;
}

.list ul, list li{
  list-style:none;
  margin-left: 10px;
  margin-top: 5px;
}

.list{
  
}

.cuadro li a {
  color:#BDCD00;
  text-decoration:none;
  font-weight:bold;
}
.gray {
  background-color:#E6E6E6;
}

.orange {
  background-color: #F2EAB7;
}

.nav{
  list-style:none;
  font-size:10px;
  font-family:arial;
  font-weight:bold;
  color:#999999;
}

.nav a{
  text-decoration:none;
  color:#999;
}

.nav a:hover {
  color:#CCC;
}
#navcopy {
  
  margin-left:90px;
  float:left;
}
#navmapa{
  float:right;
  margin-left:15px;

}

#footer li {
  float:left;
  margin-top:15px;
  margin-right:5px;  

}

.textarea{
  border-style: inset;
  border-width: 1px;
}


ul{
  list-style:none;
  padding: 1px;
  margin:2px 0 0;
}

ul li label {
  margin: 0 5px 0px 2px;
}

#submenu li a{
  float:none;
  width:180px;
  text-align:left;
  margin:0px;
  background-color:#CCCC33;
  height:30px;
  line-height:26px;
}

#submenu li a:hover{
  background-color:#C1BB00;
}


/*-----------------------------------------##FIN MENU##-------------------------------*/


/*-----------------------------------------##MENSAJE DE ERROR##-------------------------------*/
#msj_error{
  margin:0px;
  height:92px;
  width:843px;
  margin-bottom:0px;
  background-color:#E6E6E6;
}

#msj_error h1{
  font-size:20px;
  font-weight:bold;
  color:#B3B3B3;
  margin-left:57px;
  margin-top:35px;
  white-space:nowrap;

}

.roja {
  margin:2px 5px;
  vertical-align:middle;
  float:left;
  background-image:url(images/cruz_roja.png);
  width: 23px;
  height: 23px;
}

.ok {
  margin:2px 5px;
  vertical-align:middle;
  float:left;
  background-image:url(images/cruz_verde.png);
  width: 23px;
  height: 23px;
}

.msj_error{
  float:right;
  margin-top:-60px;
  margin-left:486px;
  list-style:none;
  font-size:12px;
  color:#999;
}


/*-----------------------------------------##FIN LAYOUT##-------------------------------*/
/*-----------------------------------------##IMAGENES##-------------------------------*/

#borderright{
float:right;
margin:0px;
}

/*-----------------------------------------##FINIMAGENES##-------------------------------*/
/*-----------------------------------------##TEXTO##-------------------------------*/
.nusercontent h1 {
  margin:0px;
  white-space:nowrap;
  display:inline;
  text-align:left;
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:20px;
  font-weight:bold;
  color:#B3B3B3;
  float:left;
}

.nusercontent h5 {
  margin:0px;
  margin-top:5px;
  margin-bottom:2px;
  text-align:left;
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:13px;
  font-weight:normal;
  color:#B3B3B3;
  float:left;
}
#formuser {
  width:843px;
}

select{
  height:26px;
  width:175px;
  padding: 2px;  
}

.material_form input{
  width: 90px;
}

.material_form .prov_code{
  width: 70px;
}

.material_form input.name{
  width: 250px;
}


.material_view .material div ,.material_form .edit_material div,.material_header div{
  display:inline-block;
  margin: 0px 3px  
}

.material_view,.material_view,.material_header{
  width: 100%;  
}

input{
  height:20px;
}

.sp_input{
  width: 180px;
}

.input_short{
  width:100px;
}

.input_date{
  width:88px; 
}

.input_date_time{
  width:120px; 
}

#new_client_budget input{
  width: 222px;
}

.input_medium{
  width: 250px;
}

.input_long{
  width:420px;
}


#calle:hover {
  border-style:solid;
  border-color:#F00;
  border-width:thin;
}
  

#msj_error h6{
  font-family:Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  color:#B3B3B3;
  font-weight:normal;
  line-height:14px;
  width:300px;  
  float:right;
  margin:0px;
  margin-left:450px;
  margin-right:0px;
  margin-top:-50px;
  
}

.box {  
  border-left: 1px solid #DDDDDD; 
  border-right: 1px solid #DDDDDD; 
  padding: 3px;
  overflow:auto;
}

.contentright {
  width:69%;
  float: right;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
}

.contentright_s {
  width:73%;
  margin-left:3px;
  padding-left:10px;
  float:left;  
  border-left:thin double #CCCCCC;
  min-height:807px;
}

.all_companies {
  width:60%;
  position: absolute;
  left:187px;
  top:26px;
  font-size:12px;  
  background:white;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;  
  -moz-box-shadow: 2px 2px 5px #888888;
  -webkit-box-shadow: 2px 2px 5px #888888;
  box-shadow: 2px 2px 5px #888888;
  margin-top: 0px;
  margin-right:1px;
  z-index:1000;

}

#work_order{
  margin-top:5px;
}

.vertical_menu{
  width:25%;
  float:left;
  margin-top:0px;
}

.vertical_menu .input{
  width:190px;
}

.contentleft{
  width:250px;
  float:left;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
  margin-right:5px;
  margin-bottom:5px;
  overflow: hidden;
}

.company_detail{
  padding:5px;
}

.company_selector{
  width:200px;
  float:left;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
  margin-right:5px;
  margin-bottom:5px;
  overflow: hidden;
}

#days ul li{
  float: left;
}

#comunidadbox{
  margin-bottom:10px;
}

#comunidadbox span{
  font-size:12px;
}


td.number input{
  text-align:right;
  width:70px;
}

.box h1,.contentleft_s h1, .contentleft h1,.contentright h1,.contentleft_u h1,.contentright_u h1,.content h1, 
#work_order_form h1, .company_selector h1, .all_companies h1{
  font-size:20px;
  color:#75787A;
  margin:0px;
}
  
.contentleft h2 {
  font-size:12px;
  color:#B3B3B3;
  font-weight:bold;
  margin:0px;
  margin-bottom:10px;
  margin-top:10px;
  margin-left:5px;

}

.contentleft h3 {
  font-size:12px;
  color:#B3B3B3;
  font-weight:normal;
  margin:0px;
  margin-bottom:10px;
  margin-top:10px;
}

.comboxtable h1{
  font-size:12px;
  color:#B3B3B3;
  font-weight:bold;
  margin:0px;
  margin-bottom:10px;
  margin-top:10px;
  margin-left:10px;
  text-align:left;
  white-space:nowrap;
}

.comboxtable h2{
  font-size:12px;
  color:#4D4D4D;
  font-weight:normal;
  margin:0px;
  margin-bottom:10px;
  margin-left:10px;
  margin-top:10px;
  width:136px;
  text-align:left;
}
  
.comboxtable h3{
  font-size:12px;
  color:#B3B3B3;
  font-weight:normal;
  margin:0px;
  margin-bottom:10px;
  margin-left:10px;
  margin-top:10px;
  text-align:left;

}


table.comboxtable, .comboxform, .w{
  width: 100%;
}

table.services {
  width:99.8%;
}

table.services h2{
  padding: 3px 5px;
}


table.services tr{
  height:30px;
  background-color: #F2F2F2;
}

table.services tr td:first-child {
  padding: 0 0 0 5px;
}

table.services thead tr th {
  background-color:#E6E6E6;
  border-bottom:thin double #CCCCCC;
}

.comboxtable th , .comboxform tr.header{
  border-bottom: thin double black;
  background-color: #F2EAB7;
  text-align: center;
  padding: 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
}

.header{
  border-right: thin double black;
  padding: 2px 5px 2px 5px;
}

.comboxtable td{
  border-bottom-width:thin;
  border-bottom-color:#CCC;
  border-bottom-style:double;
}


.row{
  border-bottom-width:thin;
  border-bottom-color:#CCC;
  border-bottom-style:double;
  float: left;
  width: 99%;
  padding:3px;
}

.all_models .row{
  width: 28%;
  margin:0px 15px;
}

.row:hover{
  background-color:#F2EAB7;
}

.comboxtable tbody tr:hover{
  background-color:#F2EAB7;
}


#avatar_login { 
  float:right;
  position:relative;
  margin-top:5px;
}

#avatar_login #company_id:hover{
  color:black;  
}

.company_id{
  margin: 0px 0px 0px 2px;
}

#avatar_login .company_id select{
    width:270px;
}

#avatar_login .company_id1{ 
    padding:3px;
}
#avatar_login a {
  float:left;
}
#avatar_login ul{
  float:right;
  margin:0px;
}

#avatar_login ul li{
  float:left;
}

#all_companies ul li{
  float:left;
  width:100%;
}

#avatar_login h3 {
  color:#FFF;
  font-size:14px;
  text-align:right;
  margin:0px;
  float:left;
  margin:5px 0px 5px 5px;
}

.barradatos{
  background-color:#E6E6E6;
  margin:0 auto;
  padding:2px 5px;
  overflow: auto; 
}


.barradatos h1 {
  font-size:16px;
  float:left;
  margin: 5px 10px 5px 5px;
}

.datos_personales{
  width:100%;
  float:left;
}

input.date{
  width:80px;
}

input.amount, input.price{
  width: 70px;
  text-align: right;
}

.amount{
  float: left;
  clear: both;
}

input.material{
  width: 93%;
  float: right;
}

select.status{
  width: 100px;
}

.tabla_datos_personales {
  float:left;
  margin:0px;
  width: 100%;
}

.tabla_datos_personales h2 {
  font-size:13px;
  color:#B3B3B3;
  font-weight:bold;
}

.inplace_field{
  background-color: white;
  width: 50px;
  height: 14px;
}

td p{
  margin: 0px;
  width: 50px;  
}

.tabla_datos_personales h3 {
  font-size:13px;
  color:#B3B3B3;
  font-weight:normal;
  margin: 0px;
}

.datos_automovil{
  float:right;
  width: 600px;
}

.ordencontent {
  margin-top:10px;
  clear: both;
}
.ordencontent h1{
  font-size:20px;
  color:#B3B3B3;
  margin:0px;
}

.ordencontent h2 {
  font-size:14px;
  color:#C1BB00;
  font-weight:bold;
  margin:0px;
  white-space:nowrap;
}

.ordencontent h3 {
  font-size:14px;
  color:#B3B3B3;
  font-weight:bold;
  margin:0px;
}

.ordencontent h4 {
  font-size:12px;
  color:#b3b3b3;
  font-weight:normal;
  margin:0px;
}

.ordencontent h5 {
  font-size:12px;
  color:#4d4d4d;
  font-weight:normal;
  margin:0px;
}

.ordenright input {
  width:73px;
  height:29px;
  margin-top:3px;
  margin-bottom:3px;
/*  border-style:solid;
  border-color:#999;
  border-width:thin;*/
}

.ordenright input {
  font-size:12px;
  color:#b3b3b3;
  text-align:right;
}.sta


.ordenrightflechas {.sta
  margin-left:2px;
  margin-right:2px;
  display:inline-block;
}

.clear{
  clear:both;
}

img{
  border-style: hidden;
  vertical-align: middle;
}

#address_map{
  width:310px;
}


.map{
  border: 1px double;
  margin: 10px;
  width: 500px;
  height: 400px;
}

ol{
  list-style: none;
}
.small_map{
  border: 1px double;
  float: left;
  margin: 10px;
  width: 550px;
  height: 350px;
}

.hide{
  display: none;
}

#graph_container{
  margin: 5px;
}

.search_map{
  margin-top: 15px;
  -moz-border-radius: 5px 5px 5px 5px;.sta
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #AFAFAF;
  background-color:#F2EAB7;
  margin: 5px;
  padding: 5px;
  width: 570px;
  height: 600px;
}

.checkbox ,.radio{
  height:12px;
  width:15px;
}

.vertical_menu .input_img{
  width: 21px;
  height: 21px;
  vertical-align: middle;
}

td.number, th.number{
  text-align:right;
  padding-left:0px;
}

.service_type{
  background-color: #F2F2F2;  
  margin: 5px 0px;
  overflow: auto;
}

.service_type table{
  border-collapse:collapse;.sta
}

.service_type select{
  margin:0px 3px;
}

.comment{
  font-size: small;
  font-style: italic;
}

.comments{
  width: 24px;
  height: 24px;
}

.comment_div{
  padding: 2px;
  margin-top:5px;
}

.service_request_id{
  font-weight: bold;
  float: left;
  padding: 5px
}

.comment_div textarea{
  width:99%;
}

.inline{
  display: inline;
}

.inline-block{
  display: inline-block;
}

.link{
  cursor: pointer;
}

.ui-datepicker-trigger{
  margin: 5px;
  vertical-align: middle;
}

.alert{
  overflow: auto;
  background-color: #FFAFAF;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DF0000;
  margin: 0 auto;
  padding: 5px;  
  width: 98%;  
  
}

.error_msg{
  background-color: #FFAFAF;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DF0000;
  margin: 5px;
  padding: 5px;
  width: auto;
  overflow: auto;
}

.error_msg ul{
  margin-left:39px;
  clear: both;
}

.notice h2, .alert h2, .error_msg h2 , .message h2{
  color: black;
  font-weight:bold;
  margin:5px;
  float:left;
}

#msgs{
  margin:5px 0px;
}

.close{
  float: right;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.notice {
  overflow: auto;
  background-color: #DEF9D4;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;  
  border: 1px solid #099F3A;
  margin: 0 auto;  
  padding: 5px;
  width: 97%;
}


.message{
  overflow: auto;
  clear: both;
}

.message_responses{
  width: 80%;
  float: right;
}

.message_ok{
  overflow: auto;
  background-color: #DEF9D4;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;  
  border: 1px solid #099F3A;
  margin: 5px;
  padding:5px;
  width: auto;
  padding: 5px;

}
.messages h2 {
  font-family: Open Sans,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size:14px;
  font-style:normal;
  color:black;
  font-weight: bold;
  margin: 5px;
}

.errorExplanation ul{
  list-style: decimal;
  margin-left: 25px;
  font-style: italic;
}
 
.ui-accordion-header{
  background-color: #CCCC00;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 5px; 
  border: 2px solid #AFAFAF;
  cursor: pointer;
  margin:5px 5px 5px 5px;
}

.ui-accordion-header a{
  color:white;
  text-decoration: none;
}

.ui-accordion-content{
  margin: 0px 5px 0px 5px;
  border: 1px solid #AFAFAF;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding-left: 5px;
}

#all_data h3{
  margin-top: 5px;
}

.brand_img{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 5px 0px 0px 0px;
}

.service_offer_info{
  
}

.service_offer_title{
  font-weight: bold;    
  width: 100%;
}

.info_s{
  overflow: auto;
}

.service_offer_detail{  
}

.service_offer_row{
  width: 100%;
  clear: both;
  overflow: auto;
}

.service_offer_valid{
  float: left;
  text-align: right;
  width: 30%
}

.service_offer_dates{
  float: left;
  text-align: right;
  width: 70%
}

.service_offer_dates span{
  margin-right:0px;
}

.service_offer_dates ul{
 margin:0px 0px 0px 10px;
 padding:0px;
 text-align:right;
}

.service_offer_dates ul li{  
  float: right;
  margin: 0 3px;
}

.date_from{
}
.date_until{
}

.service_offer_data{
  float: right;
  text-align: right;
  width: 20%;
}

.price_detail{
  float:left;
  text-align:right;
  width:25%;
}

.serivce_offer_actions{
  background-color:#F2EAB7;
  float: right;
  display: none;
}

.left{
  float: left;
}

.center{  
  margin:auto;
}

.right{
  float: right;
}
.valid{
  float:right;
  width:50%;
}

.days_col1{
 margin-right:10px;
}

.wo_detail{
}

.wo_detail .hide_info{
  position:absolute;
  right:105px;
  top:5px;
  margin-right:1px;
  z-index:100;
  background-color: #E6E6E6;
  border: 1px solid #AFAFAF;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
}

.services{  
  padding: 2px 0px;
  float:left;  
  overflow: auto;  
}

.wo_detail .wo_info, .budgets .wo_info{
  width:17%;
  float:right;
  
}

.service_info, .budget_info{
  width:100%;
  float:left;
}

.actions{
  float:right;
  padding:0px 0px 5px 0px;
}

.title_actions{
  float:right;
  padding-top: 7px;
}
.wo_detail .performed{
  float: right;
}

.action{
  float:right;
  margin:2px;
  cursor:pointer;
}


.top{
  vertical-align: top;
}

.client_car{
  width:80%;
  margin-left:10px;
}

.car .detail{
  float: left;
  width: 60%;
}

.car_detail{
  margin-bottom:3px;
}

.logo{
  float: left;
  margin: 0px 5px 0px 5px;
}


.car_info{
  padding: 5px;
  width:70%;
}

.event_detail .car_info{
  height:45px;
}

.big_domain{
  padding: 5px;
  overflow: auto;
}

.domain{
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin: 2px 5px 2px 2px;
  width:85px;  
  display:block;   
}


.domain_n_old{ 
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 23px;
  padding: 5px 0px 9px;
  margin-top: 2px;
  background-position: center center;
  background-repeat: no-repeat;
}

.stars{
  overflow: auto;  
}

.star{
  background-image:url(images/star.png);
  height: 16px;
  width:  16px;
  float: left;
}

.star_select{
  background-image:url(images/star_select.png);
  height: 16px;
  width:  16px;
  float: left;
}

.rank_stars{
  overflow: auto;  
  display: inline;
}

.comp_rank_stars{
  float: left;
  margin: 0px 5px;
}

.usr_rank_stars{
  float: left;
}

.ranks{
  overflow: auto;
  margin: 5px 0px;
}

.rank_msg{
  clear: both;
  float: left;
  font-size: 10px;
  font-style: italic;
  width: 130px;
  margin: 5px;
}

.rank_select_msg{
  float: left;
  font-size: small;
  font-style: italic;
  font-weight: bold;
}

.rank{
  clear: both;
}

.domain_white{
  background-image:url(images/patente.png);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 23px;
  margin: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 8px 0px;
  width: 93px;
}

.mi_domain_red{
  background-image:url(images/mi_patente_red.png);  
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 23px;
  margin-top: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 8px 0px;
  width: 93px;
}

.mi_domain_yellow{
  background-image:url(images/mi_patente_yellow.png);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 23px;  
  margin-top: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 8px 0px;
  width: 93px;
}

.mi_domain_green{
  background-image:url(images/mi_patente_green.png);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 23px;
  margin-top: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 8px 0px;
  width: 93px;
}

.domain_red{
  background-image:url(images/patente_red.png);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 23px;  
  margin-top: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 8px 0px;
  width: 93px;
}

.domain_yellow{
  background-image:url(images/patente_yellow.png);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 23px;  
  margin-top: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 8px 0px;
  width: 93px;
}

.domain_green{
  background-image:url(images/patente_green.png);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 23px;  
  margin-top: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 8px 0px;
  width: 93px;
}

.domain_white a{
  color: white;
  font-size: 20px;
}

.price{
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.price_b{
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0px 5px;  
}

.line{
  border-bottom: thin double #CCCCCC;
}


.service_status a{
  margin-top: 3px;
}

.service_status {
  float:right;
  margin-right: 5px;
}

.service{
  background-color: #F2F2F2;
  border:1px outset #AFAFAF;
  margin: 2px;
  padding:2px 5px;
  float: left;
  border-radius: 5px 5px 5px 5px;
  border: 1px outset #636262; 
  min-height:20px;
}

select.operator{
  width: 110px;
}

.operator{
  font-size: 11px;
  float:left;  
}

.service a{
  text-decoration: none;
  margin-left: 3px;
  float:left;
}

.services ul{
  padding: 0px;
  margin: 3px;
}

.services ul li{
  margin: 0px;
}

/* General dropdown styles */       
.dropdown dd, .dropdown dt, .dropdown ul { 
  margin:0px; 
  padding:0px; 
}

.dropdown dd { 
  position:relative;
  z-index:1000;
}

/* DT styles for sliding doors */

.dropdown dt a {
  background: url(images/arrow.png) no-repeat scroll right center;
  display:block; 
  padding-right:20px; 
}
    
.dropdown dt a span {
  cursor:pointer; display:block;
  padding:2px 2px 2px 5px;
}
/* UL styles */
.dropdown dd ul li{
  height: 27px;
}
.dropdown dd ul li span.order, .dropdown dt a span.order{
  display: none;
}

.dropdown dd ul li:hover, .dropdown dd ul li:hover a {
  background:#B2AC0C none repeat scroll 0 0;
  color: #F7F28C;
}

.dropdown dd ul {
  background:#F7F28C none repeat scroll 0 0;
  border:1px solid #B2AC0C; 
  display:none;
  list-style:none; 
  padding:5px 0px; 
  position:absolute; 
  left:0px; top:-1px; 
  width:auto; 
  min-width:98%;
}

.dropdown span.value {
  display:none;
}

.dropdown dd ul li a {
  padding:2px 5px 2px 5px; 
  display:block;
  float: left;
  clear: both;
}

.dropdown dd ul li{
}

.materials{
  width: 100%;
  overflow: auto;
}

#materials_list{
  width: 98%;
}

.add_comment{
  background: url(images/add_comment.png) no-repeat scroll;
  height: 16px;
  width: 16px;
  display: block;
}

.add_alarm{
  background: url(images/new_alarm.png) no-repeat scroll;
  height: 16px;
  width: 16px;
  display: block;
}

.new{
  background: url(images/new.png) no-repeat scroll;
  height: 16px;
  width: 16px;
  display: block;
}

.edit_comment{
  background: url(images/edit_comment.png) no-repeat scroll;
  height: 16px;
  width: 16px;
  display: block;
}

.edit2{
  background: url(images/edit.png) no-repeat scroll;
  height: 21px;
  width: 21px;
  float:left3;
}

.delete2{
  background: url(images/delete.png) no-repeat scroll;
  height: 21px;
  width: 21px;
  float:left3;
}

.pdf{
  background: url(images/pdf.png) no-repeat scroll;
  height: 16px;
  width: 16px;  
  display:block;
}
.info{
  background: url(images/info.png) no-repeat scroll;
  height: 16px;
  width: 16px;    
  display:block;
}


.new_note{
  background: url(images/notes.png) no-repeat scroll;
  height: 16px;
  width: 16px;
  
}

#company-selector{
  margin-top: 5px;
}

.company_detail .address{
  float: left;
  width: 90%;
}

.event{
  
}

.event_detail{
  width:80%;
  margin:0 auto;
  overflow: auto;
}


.event .status{
  margin: 2px 5px;
}
.overflow{
  overflow: auto;
}

.select_event .rojo, .select_event .amarillo, .select_event .verde, .select_event .mi_rojo, .select_event .mi_amarillo{
  height:20px;  
}

.rojo{
  border: 1px solid red;
  background-color: #F7C8C8;
  overflow: auto;
}

.mi_rojo{
  border: 1px solid red;  
  overflow: auto;
  background-color: #F77979;
}

.amarillo{
  background-color:#FCFCCF;
  border: 1px solid #FF8057 ;
  overflow: auto;
}

.mi_amarillo{
  background-color:#F4F133;
  border: 1px solid #FF8057 ;
  overflow: auto;
}

.verde{
  background-color:#A0FFA0 ;
  border: 1px solid green;
  overflow: auto;
}

.mi_verde{
  background-color:#69F469 ;
  border: 1px solid green;
  overflow: auto;
}

.dueDate label{
  padding: 3px;
}

.due_date {
  color: black;
  font-size: 11px;
  font-weight: normal;  
  float: right;
  margin-right: 3px;
}

.total_work_order{
  float: right;
  margin-right: 50px;
  font-size: 20px;
  font-weight:bold;
  color:black;
  margin-bottom:5px;
}

#wo_note{
  padding-top:5px;
}

#total_work_order_v{
  float: right;
  margin-right: 35px;
  font-size: 20px;
  font-weight:bold;
  color:black;
}

#total_budget{
  float: right;
  margin-right: 33px;
  font-size: 20px;
  font-weight:bold;
  color:black;
}

#total_budget_v{
  float: right;
  margin-right: 8px;
  font-size: 20px;
  font-weight:bold;
  color:black;
}

.service_event{
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  margin: 5px 9px;
  padding: 5px;
  width: 30%;
}

.events{
  margin: auto;
  overflow: auto;
  width: 100%;
}

#view input, #select input{
  margin :2px 15px;
}

#service_offers{
  display:inline;
}

#zone_filter{
  margin-left:185px;
}

#control_panel{
  margin-left:0px;
}

.cars{
}

.cars a{
  color:white;
  text-decoration:none;
}

.small_event{
  margin: 0 auto;
  width: 93px;  
}

.small_event_selected{
  background: none repeat scroll 0 0 #D8DB41;
  border-color: #BFBA00;
  border-radius: 5px 5px 5px 5px;
  border-style: ridge;
  margin-top: -3px;
  position: absolute;
  width: 92px;
}

.other_event{  
  color:#CAEFF7;
}

.other_event a{
  color: #B1D5F9;
}

.small_event .domain, .my_big_event .domain, .big_event .domain{
  font-weight: bold;
  font-size:15px;
  text-transform:uppercase;
  color: black;
  margin: 1px;
}

.big_event{
  width: 160px;
  height:110px;
  border-radius:5px;
  box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  position:absolute;
  display:none;
  padding: 3px;
  border-width: 2px;
}

.my_big_event{
  width: 210px;
  height:165px;
  position:absolute;
  display:none;
  padding: 3px;
  border-width: 2px;
}

#cars_events ul{
  padding: 0px;
}

.short_select{
  width:100px
}

.medium_select{
  width:130px
}

.long_select{
  width:200px
}

.big_select{
  width:250px
}

.long_text{
  width:150px
}

.short_text{
  width:100px
}

#offer{
  margin-top:10px;
}

.cp_event{
  display: inline-block;
  height: 63px;
  margin: 1px;   
  overflow: auto;
  float: left;
  width: 97px;
}

.link {
  cursor:pointer;
}

#send_passowrd{
  width: 90%;
  padding: 10px;
}

#sort_by{
  margin-right: 1px;
  margin-top: 8px;
  float:right;
  width:40%;
}

#sort_by dl {
  margin: 0px;
  float: right;
}

.buttons{
  width:100%;
  float:left;
}

#repit_container{
  padding: 5px 0px 5px 0px;
}

.buttons_container{
  background-color: #F2F2F2;
  border-bottom: thin double #CCCCCC;
  border-top: thin double #CCCCCC;
  margin-top: 10px;
  clear:both;
}

.buttons a.button{
  vertical-align: middle;
}

#wo-actions{
  overflow: auto;
  margin:5px 0px;
  width:100%;
}

#wo-actions select{
  margin:0px 2px;
}

.select_event{
  width:100%;
  overflow: auto;
}

.select_event .color{
  margin:3px;
}

.contentright .ui-widget-content {
  background: url("") repeat-x scroll 50% 50% #FFFFFF;
  border: 0px solid #AAAAAA;
  color: #222222;
}

.contentright .ui-widget-header {   
  background: url("") repeat-x scroll 50% 50% #FFFFFF;    
  border: 0px solid #929090;
  color: #222222;
  font-weight: bold;
}

.notes_fk{
  float:left;
  margin:2px 2px 2px 5px;
}

.notes_container{
  clear: both;
  display: none;
}

.new_note_form{
  overflow:auto;    
  margin:10px;
  padding: 5px;
  overflow: auto;
  background: none repeat scroll 0 0 #FFFFCC;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);  
}

.new_note_form textarea{
  float: left;
  width:95%;
}

.notes_actions{
  float:right;
}

.notes{
  width:100%;  
}

.wo_note{
  margin: 5px 3px;
}

#wo_form{
  float:left;
}

#wo_form .ajax_loader{
  margin-top:5px;
}


.new_msg_form{
  overflow: auto;
}

.my_msg{  
  padding-left:10px;
  overflow: auto;
  background: none repeat scroll 0 0 #FFFFCC;
  border-radius: 5px 5px 5px 5px;
  border: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);  
  margin: 5px;
  min-height: 21px;
  padding: 5px 5px;  
  width: 80%;
  float:left;
}

.other_msg{
  padding-left:10px;
  overflow: auto;
  background: none repeat scroll 0 0 #C0EDF7;
  border-radius: 5px 5px 5px 5px;
  border: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);  
  margin: 5px;
  min-height: 21px;
  padding: 5px 5px;  
  width: 80%;
  float:right;
  cursor:pointer;
}

.note{
  padding-left:10px;
  overflow: auto;
  background: none repeat scroll 0 0 #FFFFCC;
  border-radius: 5px 5px 5px 5px;
  border: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);  
  margin: 10px;
  min-height: 21px;
  padding: 5px 5px;  
}

.unread_msg_nro{
  background: url("images/red-circle.png") no-repeat scroll 0 0 transparent;
  color: white;
  float: left;
  font-size: 9px;
  font-weight: bold;
  height: 16px;
  margin-top: 2px;
  margin-left: 5px;
  text-align: center;
  width: 16px;
}

.message_not_read{
  cursor: pointer;
  box-shadow: 0 1px 2px red;
}

.note .info .date{
  font-size:0.8em;
  float:left;
}

.note .info .user{
  font-size:0.8em;
  float:right;
}

.note .info{
  width:100%;
  float:left;
}

.notes_link{
  background: url(images/notes.png) no-repeat scroll;
  height: 16px;
  width: 16px;
  display: block;
}

.new_note_link{
  background: url(images/notes.png) no-repeat scroll;
  height: 16px;
  width: 16px;
  display:block;
}

.export_link{
  background: url(images/export.png) no-repeat scroll;
  height: 16px;
  width: 16px;
  display:block;  
}

input.labelHighlight,textarea.labelHighlight {
  color: #999999; 
  font-style:oblique;
}

.client_expend{
  float:right;
  text-align: right;
}

.down_icon{
  overflow: auto;
  text-align: center;
  width: 20px;
  height: 22px;
}

.down_icon:hover{
  background:#DDE04A;
}

.menu ul{
  padding:5px 10px;
  overflow: auto;
  position: absolute;
  width: 120px;
  background:white;
  top:51px;
  right:1px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -moz-box-shadow: 2px 2px 5px #888888;
  -webkit-box-shadow: 2px 2px 5px #888888;
  box-shadow: 2px 2px 5px #888888;
  margin-top:-2px;
  margin-right:1px;
  z-index:1000;
}

.menu_nu ul{
  padding:5px 10px;
  overflow: auto;
  position: absolute;
  width: 170px;
  background:white;
  top:100%;
  right:0;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -moz-box-shadow: 2px 2px 5px #888888;
  -webkit-box-shadow: 2px 2px 5px #888888;
  box-shadow: 2px 2px 5px #888888;
  margin-top:-2px;
  margin-right:1px;
  z-index:1000;
}

.menu_nu ul li{
  width:180px;
}

.menu ul li{
  width:120px;
}

#menu_options .menu{
  padding:3px 2px 3px 10px;
  float:left;
  width:95%;
}

#menu_options .selected ,#menu_options .menu:hover {
  background:#E5E082;
  color:#54534E;
  font-weight: bold;  
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  width:95%;
}

#menu_options li{    
  margin:2px;
  padding:1px;
  overflow: auto;
  list-style:none outside none;
}

#menu_options li a:over{  
    color:#54534E;
    font-weight:bold;
}

#menu_options li a{  
    color:#54534E;
    text-decoration:none;
}


#menu_options li.selected {
  color:#54534E;  
  text-decoration:none;  
}

#menu_options ul li img{
  height:21px;
  width:21px;
  margin-right:2px;
}
.box_bottom{
  border-bottom:thin double #CCCCCC;
  overflow:auto;
  padding-bottom:5px;
}

.box_top{
  border-top:thin double #CCCCCC;    
}

.box_right{
  border-right:thin double #CCCCCC;    
}

.client label{
  margin: 0px 2px 0px 0px;
}

.client{
  margin-bottom:5px;
  overflow:auto;
}

.client .phone{
  margin-left:3px;  
  font-weight:bold;
}

#breadcrums_menu{
  width:70%;
  float:left;  
}

#other_menu{
  float:right; 
}


.menu_actions a{
  margin-left: 40px;
}

.menu_actions li{
  padding: 2px 0px;
}

.car_detail .domain_brand{
  overflow: auto;
}

.car_detail .brand{
  font-size:20px;
  font-weight:bold;
  margin:0px 5px;
}

.car_detail .domain{
  font-size:25px;
  margin:0px 10px;
}

#client_info{
  background-color: #E6E6E6;
  overflow: auto;
  padding: 5px;
  width:227px;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }

.ui-timepicker-div dl {
 text-align: left; 
}

.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
#ui-datepicker-div {
    font-size: 90%;
}

.pagination .current{
  background-color: #F2EAB7;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 0px 3px;
}

#personal_info{
  position:relative;
}

#personal_info .recpatcha{
  position:absolute;
  right:0px;
  top:35px;
}

.dates{
  margin:0px 15px;
}

.alarm .time {
  margin-right: 5px;
}

.alarm .status {
  margin: 0px 3px;
  float: left;
}

.alarm .description{
  width:85%;
  float: left;
}

.alarm .actions{
  width:10%;
  float: right;
}

.alarm .dates {
  width: 100%;
  margin: 0px;
  clear: both;
  overflow: auto;
}

.price_offer .head .selected{
  margin: 0px 3px;
  display: inline-block;
  width: 5%;
  vertical-align: top;
}

.price_offer .head .auto_part{
  display: inline-block;
  width: 92%;
  vertical-align: middle;
}

.price_offer .body{
  margin: 2px 11px;
  width: 92%;
  float: right;
}

.dates{
  width:69%;
}

.menu_data{
  padding:10px 5px;
}

.shadown{
  -moz-box-shadow: 2px 2px 5px #888888;
  -webkit-box-shadow: 2px 2px 5px #888888;
  box-shadow: 2px 2px 5px #888888;
}

.title{  
  margin:0 auto;
}

.map_info_windo h1{
  font-size:18px;
}

.task_list{
  clear: both;
  width: 100%;
}

.tasks{
  overflow:auto;
  background-color:#E6E6E6;
}

ul.tasks li{
  float:left;
  margin:5px;
}

.budget .car, .budget .customer {  
  width: 48%;
}

.budget_service{
  float:left;
  margin:5px 0px 0px 5px;
}
.budget_service2{
  float:left;
}
.budget_service a, .budget_service2 a{
  margin:3px 0px 0px 3px;
}
.new_budget input.material{
  width:96%;
}

.info_note{  
  display: block;
  float: left;
  overflow: auto;
  width: 92%;
}

.info_note .user{
  font-size:11px;
}


.validation_email_msg{
  background-color: #F2F2F2;
  border-radius:5px;  
  float: right;
  padding: 4px;
  margin-left: 5px;
}

.user_email{
  float: left;
}

#materials .material_row{
  margin: 5px 0px;
  overflow: auto;
}

.graph{
  width: 694px;
  overflow: auto;
  margin: 0 auto;
}

.vertical_center{
  vertical-align: middle
}

.file_margin_top{
  margin-top: 7px!important;
}

#service_offer_app .offer_service_type_row{
  float: left;
  margin: 5px;
  font-weight: bold;
}

#service_offer_app .offer_service_type_row label{
  margin-right: 5px;
}

#new_service_offer select.service_types{
  margin-top: 4px
}

.add_days{
  float: left;
  width: 40%;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
}

#advertisements_fields{
  overflow: auto;
}
.advertisements {
  text-align: center;
}

.advertisement {
  width: 28%;
  background-color: #F7D1CD;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  min-height: 105px;
}

.advertisements .company_name a{
  font-weight: bold;
  color: red;
}

.advertisements .ad_name a{
  font-weight: bold;
  background-color: #EF978F;
  color: white;
}

.advertisements span.final_price{
  background-color: #FF0000;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  width: 50%;
}

.advertisements span{ 
  font-size: 15px;
}
.advertisements span{
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.ad_days {
  width: 90%;
  display: inline-block;
}

.ad_days .ad_day{
  float: left;
  margin-right: 3px;
  margin-top: 3px;
}

.ad_days .ad_day span{
  background-color: #A8AA3A;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  padding: 1px 10px;
}

.image_galery{
  overflow: auto;
  width: 100%;
}

.image_galery .image{
  padding: 20px 5px;
  float: left;
  clear: both;
}

#company_big_image img{
  width: 100%;
  padding-top: 4px;
}

.small_text {
    font-size: 12px;
    font-style: italic;
    padding: 2px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.import_form{
  background: none repeat scroll 0 0 #f0f0f0;
  margin: 10px 5px;
  padding: 10px;
  overflow: auto;
}

.import_form .col1{
  padding: 5px;
  text-align: justify;
  width: 35%;
}

.import_form .col2{
  padding: 5px;
  text-align: justify;
  width: 60%;
}

.import_form .important{
  color: red;
  font-weight: bold;
}

.import_form .code{
  padding:2px 5px;
  font-weight: bold;
  background-color: #dbd6d6;
  margin: 5px;
  font-size: 12px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}