.vertical_menu
  - if current_user.is_super_admin?
    = render "conf/menu"
  - else
    = render "admin/menu"
.contentright_s  
  .box_bottom
    %h1
      Nueva Marca
      \:
      = get_company.name
  %br
  = render "form"
