%h1
  Futuros Servicios a Realizar
%table#sort_table.comboxtable
  %thead
    %tr
      %th Tipo de Servicio
      %th Fecha a Realizar
      %th Km
  - for event in @events
    %tr
      %td
        = link_to event.service_type.name, event.service.workorder
      %td
        = l event.dueDate
      %td.number
        = event.km
%br
= will_paginate @events