%h3 Buscar Automóviles
#car_search.left
  .form
    = form_tag cars_path, :remote =>true,:method =>:get do |f|      
      = hidden_field_tag :company_id,"a"
      %table.w
        %tr
          %td
            = text_field_tag 'domain',"",:class=>"labelify input",:title=>"Dominio"
        %tr
          %td
            = image_submit_tag("find.png",:class =>"input_img")  
  .ajax_loader.right
