=render :partial=>"search_car",:locals =>{:cars=>[],:table_id =>:sort_table}          
.buttons
	= link_to_back root_path
	= link_to "Nuevo Automóvil", new_car_path(:user_id=>@user.id),  {:title =>"Nuevo Automóvil",:class=>"button"}