#client_search
  %h3 Buscar Clientes
  .form
    - form_tag clients_path, :remote =>true, :method =>:get do
      %table
        %thead
          %tr
            %td
              = text_field_tag 'email',"",:class=>"labelify",:title=>"Correo Electrónico"
          %tr
            %td
              = text_field_tag 'first_name',"",:class=>"labelify",:title=>"Nombre"
          %tr
            %td
              = text_field_tag 'last_name',"",:class=>"labelify",:title=>"Apellido"
              = image_submit_tag("find.png",:class =>"input_img")
  .ajax_loader.right