%h3 Buscar Automóviles
#car_search.left
  .form
    - form_tag cars_path, :remote =>true,:method =>:get do |f|
      = hidden_field_tag :car_id,@car_id
      = hidden_field_tag :company_id,@company_id    
      = text_field_tag 'domain',"",:class=>"labelify",:title=>"Dominio"
      = image_submit_tag("find.png",:class =>"input_img")  
  .ajax_loader.right
