.box_top
.box_bottom
  %h1 Servicios Realizados
#all-workorder
  - @work_orders.each do |wo|
    = render :partial =>"work_order_row",:object => wo
%br
#paginator_wo
  = will_paginate @work_orders,:params => @wo_pages