- javascript 'jquery.ba-url.min'
- javascript 'car_pagination'
#all_cars
  %h1
    = vineta 
    Automóviles de #{@user.full_name}
  #my_cars.contentleft
    =render :partial=>"search",:locals =>{:cars=>[],:table_id =>:sort_table}
  #cars.contentright
    - if @cars.size > 0
      =render :partial=>"cars",:locals =>{:cars=>@cars,:table_id =>:sort_table}
    - else
      = render 'shared/message', :msg =>"No hay ningún automóvil"
    #company-selector
      = render 'company_selector'