- javascript 'jquery.ba-url.min'
- javascript 'car_pagination'
#all_cars
  .vertical_menu
    = render "home/menu"
    = render :partial=>"search",:locals =>{:cars=>[],:table_id =>:sort_table}
  .contentright_s
    #cars
      - if @cars.size > 0
        =render :partial=>"cars",:locals =>{:cars=>@cars,:table_id =>:sort_table}
      - else
        = render 'shared/message', :msg =>"No hay ningún automóvil"
    #clients.data.hide
    #company-selector.hide
      = render 'company_selector'