<p>Bienvenido <%= @resource.email %>! a Comunidadbox</p>

<p>Uds puede confirmar su cuenta con el siguiente link:</p>

<p><%= link_to 'Confirmar su cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<% if @resource.creator %>
  Su clave temporal es <%=@resource.password%>
<% end%>
