!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
  %body
    #box{:style=>"padding: 5px;font-family: Ubuntu,Trebuchet MS,Arial,Helvetica,sans-serif"}
      #mail{:style=>"width:50%;margin:0 auto;-moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px;border: 5px solid #DDDDDD"}
        #cabecera{:style=>"background:-moz-linear-gradient(center top , #DBDB39, #C9C20D) repeat scroll 0 0 transparent;background-color:#DBDB39"}
          = image_tag "logo.png",:alt =>"company logo"
        #bar{:style=>"background-color:#DDDDDD;height:5px"}
        .box{:style =>"margin:5px"}
          %h4 Confirmación de Cuenta
          %p
            Bienvenido #{@resource.full_name} a Comunidad Box !!!
          %p 
            Ud. puede confirmar su cuenta con el siguiente link:
            = link_to 'Confirmar su cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)    
        #footer{:style=>"background:-moz-linear-gradient(center top , #DBDB39, #C9C20D) repeat scroll 0 0 transparent;background-color:#DBDB39"}
          #bar{:style=>"background-color:#DDDDDD;height:5px"}
          #fotter_txt{:style=>"padding:5px;color: black"}
            %p{:style=>"margin: 2px 2px 0px 2px"} 
              Muchas gracias por usar ComunidadBox.
            %h4{:style=>"margin: 2px 2px 0px 2px"} 
              Equipo de ComunidadBox
            %h5{:style=>"margin: 2px 2px 0px 2px"}
              Para comunicarse con nosotros por favor escribir a info@comunidadbox.com
