#box{:style=>"padding: 5px;font-family: Ubuntu,Trebuchet MS,Arial,Helvetica,sans-serif"}
  #mail{:style=>"width:50%;margin:0 auto;-moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px;border: 5px solid #DDDDDD"}
    #cabecera{:style=>"background:-moz-linear-gradient(center top , #DBDB39, #C9C20D) repeat scroll 0 0 transparent;background-color:#DBDB39"}
      = image_tag "logo.png",:alt =>"company logo"
    #bar{:style=>"background-color:#DDDDDD;height:5px"}
    .box{:style=>"margin:5px"}
      %p 
        Hola #{@resource.email}!
      %p Alguien a solicitado cambiar la clave, tu puedes hacerlo usando este link  
      %p
        = link_to 'Cambiar mi clave', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
      %p Si Ud. no solicito esto, por favor ignore este email
      %p Su clave no cambiara hasta que acceda al link enviado y cree una nueva. 
    #footer{:style=>"background:-moz-linear-gradient(center top , #DBDB39, #C9C20D) repeat scroll 0 0 transparent;background-color:#DBDB39"}
      #bar{:style=>"background-color:#DDDDDD;height:5px"}
      #fotter_txt{:style=>"padding:5px;color: black"}
        %p{:style=>"margin: 2px 2px 0px 2px"} 
          Muchas gracias por usar ComunidadBox.
        %h4{:style=>"margin: 2px 2px 0px 2px"} 
          Equipo de ComunidadBox
        %h5{:style=>"margin: 2px 2px 0px 2px"}
          Para comunicarse con nosotros por favor escribir a info@comunidadbox.com
