%p 
  Hola #{@resource.email}!
%p Alguien a solicitado cambiar la clave, tu puedes hacerlo usando este link  
%p
  = link_to 'Cambiar mi clave', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si Ud. no solicito esto, por favor ignore este email
%p Su clave no cambiara hasta que acceda al link enviado y cree una nueva. 
