.vertical_menu
  = render "conf/menu"
  = render "search"
  = render "actions"
.contentright_s
  .box_bottom
    %h1
      Listado Materiales
  #materials
    = render :partial => "all_materials", :locals =>{materials: @materials}
