%h1 Filtros
.box
  - if @filters.size > 0
    %table#sort_table.comboxtable
      %thead
        %tr
          %th Fecha
          %th Nombre
          %th Filtro
      - for filter in @filters
        %tr
          %td
            = link_to filter.name,url_for(:controller=>:control_panels,:action=>:filter_alarms,:sf=>filter)
          %td
            = filter.description
          %td
            = link_to image_tag('delete.gif'), filter, :confirm => '¿ Esta seguro que desea borrarlo ?', :method => :delete
  - else
    .msg
      No hay filtros guardados 
  
        