#wrapfooter
  #footer
    %img{:height => "26", :src => "/images/logo_footer.png", :width => "90"}/
    %ul#navcopy.nav
      %li Copyright 2010© Comunidad Box.
      %li
        %a{:href => "#"} Privacy Policy
      %li
        %a{:href => "#"} Terms of Use
    %ul#navmapa.nav
      %li
        %a{:href => "#"} MAPA DEL SITIO
      %li
        %a{:href => "#"} CONTACTO