#msgs
  - if flash.notice
    .notice
      .cruz.ok.link
      %h2= flash.notice
  -if flash.alert
    .alert
      .cruz.roja.link
      %h2= flash.alert

-#:javascript
  $(".notice").delay(5000).fadeOut();
  $(".alert").delay(5000).fadeOut();
