#msgs
  - if flash.notice
    .notice
      %h2= flash.notice
      .close x
  -if flash.alert
    .alert
      %h2= flash.alert
      .close x   

-#:javascript
  $(".notice").delay(5000).fadeOut();
  $(".alert").delay(5000).fadeOut();
