!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
  %body
    #box{:style=>"padding: 5px;font-family: Ubuntu,Trebuchet MS,Arial,Helvetica,sans-serif"}
      #mail{:style=>"width:800px;margin:0 auto"}
        .cabecera{:style=>"max-height: 150px; min-height:150px"}
          = image_tag "header.png",:alt =>"company logo"
        .content{:style=>"5px solid #DDDDDD; border-color: #C1BC00;border-style: solid; padding:5px"}
          = yield
        .footer          
          #fotter_txt{:style=>"color: black"}
            = image_tag "footer.png"
