= form_for resource, :url => user_registration_path do |f|
  .box_bottom
    .left
      %h1=t(".new_user")

    .right
      %h1   
        //= select_tag(:user_type, options_for_select([[t('.car_owner'), 1],[t('.service_center'), 2],[t('.auto_part'), 3]], :selected =>resource.type),{:class=>'long_selec'})
        = select_tag(:user_type, options_for_select([[t('.car_owner'), 1],[t('.service_center'), 2]], :selected =>resource.type),{:class=>'long_selec'})
  .clear
    = render :partial => "form",:locals => {:f => f},:recaptcha => true