.vertical_menu
  = render "home/nu_menu"  
.contentright_s
  .left
    %h1 Nuevo Usuario
  .right
    %h1
      =  select_tag "user_type", "<option value='u'>Usuario</option><option value='ps'>Prestador de Servicio</option>".html_safe,:class=>"long_select"
  .clear.box_bottom
  = form_for resource, :url => user_registration_path do |f|
    = render "form", :f => f,:recaptcha => true

